@import '../../styles/index';

.root {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid $grey;
	z-index: 10;

	&.dark-theme {
		@include boxShadow(dark);
		background-color: $dark-grey;
		color: $white;
		border-color: $grey;
	}

	&.light-theme {
		@include boxShadow(light);
		background-color: $white;
		color: $dark-grey;
		border-color: $grey4;
	}
}
