@import '../../styles';

.root {
	&.horizontal {
		@include flex(row, flex-start, flex-start);
		gap: 1rem;
	}
	&.vertical {
		@include flex(column, flex-start, flex-start);
		height: 100%;
		gap: 0.5rem;
	}
}
