@import '../../styles';

.tabs-container {
	width: fit-content;
}

.tabs {
	@include flex(row, flex-start);
	position: relative;
}

.tab {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	text-align: center;
	cursor: pointer;
	transition: color 0.3s;
	padding: 10px;

	&:hover {
		color: $highlight;
		background: #007bff23;
	}

	&.active {
		color: $highlight;
	}

	&.disabled {
		cursor: not-allowed;
		color: $grey3;
	}
}

.drop-label {
	padding: 0px;
}

.tab-label {
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	width: fit-content;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-left,
.tab-right {
	margin: 0 7px;
	display: contents;
	> svg {
		width: 14px;
		height: 14px;
	}
}

.tab-slider {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	background-color: $highlight;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
	width: 100%;
}

.tab-content {
	padding-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.199);
	z-index: -1;
}

.tab-dropdown {
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	display: flex;
	> svg {
		margin-left: 5px;
		margin-top: 1px;
		width: 16px;
		height: 16px;
	}
}

.dropdown-options {
	position: absolute;
	top: 34px;
	left: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.353);
	background-color: $white;
	transform: translateX(-10px);
}

.dropdown-option {
	width: 100%;
	padding: 10px;
	cursor: pointer;
	white-space: nowrap;
	transition: background-color 0.3s;
	color: rgba(0, 0, 0, 0.7);

	&:hover {
		background-color: $grey7;
	}

	&.selected {
		background-color: $grey5;
	}
}
.icon {
	transition: transform 0.3s ease-in-out;
}
.rotateCaret {
	transform: rotate(180deg);
}
