@import '../../styles';

@mixin commonActive {
	> [data-elem='component1'],
	> [data-elem='component3'] {
		> .icon {
			fill: $highlight;
		}
	}

	> [data-elem='component2'] {
		color: $highlight;
	}
}

.root {
	@include flex(row, flex-start, center);

	> .tab {
		padding: 0.75rem;
		gap: 0.75rem;

		> [data-elem='component1'],
		> [data-elem='component3'] {
			> .icon {
				width: 1.5rem;
				height: 1.5rem;
				fill: $black;
			}
		}

		> [data-elem='component2'] {
			color: $black;
		}

		&.active {
			@include commonActive;
			border-bottom: 2px solid $highlight;
		}

		&:hover {
			@include commonActive;
			background: $info-bg;
		}
	}
}
