@import '../../styles';

.tabs-container {
	width: fit-content;
}

.tabs-container-vertical {
	width: fit-content;
	@include flex(row, center, flex-start);
}

.tabs {
	@include flex(row, flex-start);
	position: relative;
}

.vertical {
	@include flex(column, center, flex-start);
	position: relative;
	width: 3.75rem;
	border-right: 0.0313rem solid $grey3;
	height: 100%;
}

.tab {
	width: 100%;
	@include flex(row, center, center);
	border-bottom: 0.0313rem solid $side-bar-icon2;
	> [data-elem='base-cell'] {
		padding: 5px !important;

		&.active {
			color: $primary-color4 !important;
		}
		> [data-elem='component1'],
		> [data-elem='component3'] {
			> .icon {
				fill: $text-color;
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}

	> [data-elem='base-cell']:disabled {
		color: $mono-color2 !important;
	}

	&:hover {
		color: $primary-color4 !important;
		background: $background-color4;
	}

	&.active {
		color: $primary-color4 !important;

		> [data-elem='base-cell'] {
			> [data-elem='component1'] {
				> .icon {
					fill: $highlight;
				}
			}
		}
	}

	.dropdown {
		@include flex(column, center, center);
		[data-elem='base-cell'] {
			height: 2.3125rem;

			&.active {
				color: $primary-color4 !important;
			}
		}
		> [data-elem='header'] {
			> [data-elem='select'] {
				background-color: transparent;
				border: none;
				padding: 5px !important;
				width: auto;
				font-size: 0.875rem;
				font-weight: 500;
			}
		}
	}
}

.tab-slider {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	background-color: $primary-color4;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
	width: 100%;
}

.tab-slider-vertical {
	position: absolute;
	right: 0;
	width: 0.0313rem;
	background-color: $primary-color4;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
	width: 100%;
}

.tab-content {
	padding-top: 10px;
	border-top: 1px solid $grey3;
	z-index: -1;
}

.tab-content-vertical {
	@include flex(column);
	width: 100%;
}
