.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0.4375rem 1rem;
  background: var(--light-color1);
  margin-top: auto;
  width: 100%;
  height: 3.5rem;
  overflow: auto;
  transition-property: background-color, color, bottom, width;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}
.root::-webkit-scrollbar {
  display: none;
}
.root.floating {
  background: var(--light-color1);
  position: absolute;
  border-radius: 6.25rem;
  width: 82%;
  bottom: 3rem;
}
.root .copyrightText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root .copyrightText > .text {
  color: var(--mono-color1);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}
.root .page-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex: 1 1;
}
.root .page-numbers > .button.disable {
  pointer-events: none;
}
.root .page-numbers > .button [data-elem=title] {
  color: var(--white);
}
.root .page-numbers > .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}
.root .page-numbers > .pageSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.root .page-numbers > .pageSelect .number {
  cursor: pointer;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: var(--black);
  min-width: 2.313rem;
  line-height: 2.313rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid transparent;
}
.root .page-numbers > .pageSelect .number:not([data-active=true]) {
  display: none;
}
@media (min-width: 768px) {
  .root .page-numbers > .pageSelect .number:not([data-active=true]) {
    display: block;
  }
}
.root .page-numbers > .pageSelect .number:hover {
  border: 1px solid var(--primary-color4);
  color: var(--primary-color4);
  background: var(--background-color4);
}
.root .page-numbers > .pageSelect .number.active {
  background-color: var(--primary-color4);
  color: var(--white);
}
.root .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.root .options .total-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
}
.root .options .row-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 4rem;
  background-color: transparent;
  padding: 0;
  height: 100%;
}
.root .options .row-switcher > [data-elem=component2] {
  height: 100%;
  width: 100%;
}
.root .options .row-switcher .row-switcher-handle {
  gap: 0.75rem;
  padding: 0;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
.root .options .row-switcher .row-switcher-handle > [data-elem=component1] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
.root .options .row-switcher .row-switcher-handle > [data-elem=component1]::before {
  content: "";
  margin: auto;
  background: var(--white);
  width: 0.0313rem;
  height: 50%;
}
.root .options .row-switcher .dropdown {
  height: 100%;
}
.root .options .row-switcher .dropdown > [data-elem=header] {
  height: 100%;
}
.root .options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] {
  height: 2.375rem;
  max-height: 100%;
  width: auto;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0.625rem;
  border: 0rem solid transparent;
}
.root .options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > [data-elem=placeholder] {
  color: #1a2028;
  font-size: 0.875rem;
  background-color: #2f2fc6;
}
.root .options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > svg {
  fill: #1a2028;
  width: 1rem;
  height: 1rem;
}
.root .options .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: auto;
  padding: 0;
  flex: 1;
  background: transparent;
}
.root .options .form > [data-elem*=component] {
  width: 100%;
  height: 100%;
}
.root .options .form > [data-elem*=component] > * {
  height: 100%;
}
.root .options .form .jump-to-page {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0rem;
  padding: 0rem;
  height: 100%;
  border-radius: 0.25rem;
  border: 0.0313rem solid var(--mono-color2);
  box-shadow: 0.1875rem 0.1875rem 0.25rem 0rem rgba(194, 194, 194, 0.12) inset;
}
.root .options .form .jump-to-page > [data-elem*=component] {
  overflow: hidden;
  height: 100%;
}
.root .options .form .jump-to-page .inputbox {
  height: 100%;
}
.root .options .form .jump-to-page .inputbox > label {
  height: 100%;
  font-size: 0.875rem;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] {
  background-color: transparent;
  color: var(--white);
  height: 100%;
  width: 3rem;
  flex: 1;
  padding: 0.625rem;
  border: none;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey1);
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] > [data-elem=component2] {
  height: 100%;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] [data-elem=input] {
  text-align: center;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  color: #9a9ea5;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.root .options .form .jump-to-page .button {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background-color: var(--mono-color2);
  padding: 0.75rem 0.5rem;
  height: 100%;
}
.root .options .form .jump-to-page .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--mono-color1);
  flex-shrink: 0;
}/*# sourceMappingURL=Pagination.module.css.map */