.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 0.75rem;
  padding: 0.625rem 2.125rem;
  background: var(--dark-grey);
  margin-top: auto;
  width: 100%;
  height: 3.5rem;
  overflow: auto;
  transition-property: background-color, color, bottom, width;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}
.root::-webkit-scrollbar {
  display: none;
}
.root.floating {
  background: var(--dark-grey-o-85);
  position: absolute;
  border-radius: 6.25rem;
  width: 82%;
  bottom: 3rem;
}
.root .row-switcher,
.root .jump-to-page,
.root .form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.root .row-switcher {
  display: none;
  flex: 0 1 15%;
  background-color: transparent;
  padding: 0;
  height: 100%;
}
@media (min-width: 992px) {
  .root .row-switcher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.root .row-switcher > [data-elem=component2] {
  flex: 0 1 auto;
  height: 100%;
}
.root .row-switcher .row-switcher-handle {
  gap: 0.75rem;
  background-color: var(--grey);
  padding: 0;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
.root .row-switcher .row-switcher-handle > [data-elem*=component] {
  overflow: hidden;
}
.root .row-switcher .row-switcher-handle > [data-elem=component2] {
  display: flex;
  flex: 0 0 auto;
  height: 100%;
}
.root .row-switcher .row-switcher-handle > [data-elem=component2]::before {
  content: "";
  margin: auto;
  background: var(--white);
  width: 0.5px;
  height: 50%;
}
.root .row-switcher .text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  display: block;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
}
.root .row-switcher .dropdown {
  height: 100%;
}
.root .row-switcher .dropdown > [data-elem=header] {
  height: 100%;
}
.root .row-switcher .dropdown > [data-elem=header] > [data-elem=select] {
  height: 2.375rem;
  max-height: 100%;
  width: auto;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0.625rem;
  background-color: var(--grey);
  border: none;
}
.root .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > [data-elem=placeholder] {
  color: var(--white);
  font-size: 0.875rem;
}
.root .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > svg {
  fill: var(--white);
  width: 0.813rem;
  height: 0.813rem;
}
.root .page-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex: 1 1 100%;
}
@media (min-width: 992px) {
  .root .page-numbers {
    flex: 1 1 40%;
  }
}
.root .page-numbers > .button.disable {
  pointer-events: none;
}
.root .page-numbers > .button [data-elem=title] {
  color: var(--white);
}
.root .page-numbers > .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}
.root .page-numbers > .pageSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
.root .page-numbers > .pageSelect .number {
  cursor: pointer;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: var(--black);
  width: 2.313rem;
  line-height: 2.313rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid transparent;
}
.root .page-numbers > .pageSelect .number:not([data-active=true]) {
  display: none;
}
@media (min-width: 768px) {
  .root .page-numbers > .pageSelect .number:not([data-active=true]) {
    display: block;
  }
}
.root .page-numbers > .pageSelect .number:hover {
  border: 1px solid var(--highlight);
  color: var(--highlight);
  background: var(--background);
}
.root .page-numbers > .pageSelect .number.active {
  background-color: var(--highlight);
  color: var(--white);
}
.root .form {
  display: none;
  padding: 0;
  flex: 0 1 30%;
  background: transparent;
}
@media (min-width: 992px) {
  .root .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.root .form > [data-elem*=component] {
  width: 100%;
  height: 100%;
}
.root .form > [data-elem*=component] > * {
  height: 100%;
}
.root .form > [data-elem*=component] > form {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.root .form .jump-to-page {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0rem;
  padding: 0;
  height: 100%;
}
.root .form .jump-to-page > [data-elem*=component] {
  overflow: hidden;
  height: 100%;
}
.root .form .jump-to-page .inputbox {
  max-width: 100%;
  height: 100%;
}
.root .form .jump-to-page .inputbox > label {
  height: 100%;
}
.root .form .jump-to-page .inputbox > label > [data-elem=base-cell] {
  border-radius: 0.313rem;
  background-color: transparent;
  color: var(--white);
  border-color: var(--grey1);
  border-radius: 0.25rem 0 0 0.25rem;
  height: 100%;
  width: 10rem;
  flex: 1;
}
.root .form .jump-to-page .inputbox > label > [data-elem=base-cell] .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey1);
}
.root .form .jump-to-page .inputbox > label > [data-elem=base-cell] > [data-elem=component2] {
  height: 100%;
}
.root .form .jump-to-page .inputbox > label > [data-elem=base-cell] [data-elem=input] {
  text-align: center;
  color: var(--white);
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
}
.root .form .jump-to-page .button {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  background-color: var(--grey1);
  padding: 0.75rem 0.5rem;
  height: 100%;
}
.root .form .jump-to-page .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
  flex-shrink: 0;
}
.root .total-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: none;
  margin: auto;
  color: var(--white);
  flex: 0 1 15%;
}
@media (min-width: 992px) {
  .root .total-data {
    display: inline;
  }
}
.root.no-total-data .row-switcher {
  flex: 0 1 20%;
}
.root.no-total-data .jump-to-page {
  flex: 1 1 60%;
}
.root.no-total-data .form {
  flex: 0 1 20%;
}/*# sourceMappingURL=Pagination.module.css.map */