@import '../../styles/_index';

.root {
	@include flex(row, space-between, stretch);
	@include removeScrollbar;
	padding: 0.625rem 2.125rem;
	background: $dark-grey;
	margin-top: auto;
	width: 100%;
	height: 3.5rem;
	overflow: auto;

	transition-property: background-color, color, bottom, width;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;

	&.floating {
		background: $dark-grey-o-85;
		position: absolute;
		border-radius: 6.25rem;
		width: 82%;
		bottom: 3rem;
	}

	.row-switcher,
	.pagination,
	.jump-to-page,
	.form {
		@include flex(row, flex-start, center);
		height: 100%;
	}

	.row-switcher {
		display: none;

		@include lg {
			@include flex(row, space-between, center);
		}
		> [data-elem*='component'] {
			overflow: hidden;
		}

		> [data-elem='component2'] {
			display: flex;
			flex: 0 1 auto;
			height: 100%;
			&::before {
				content: '';
				margin: auto;
				background: $white;
				width: 0.5px;
				height: 50%;
			}
		}
		gap: 0.75rem;
		background-color: $grey;
		padding: 0;
		border-radius: 0.25rem;
		height: 100%;

		.text {
			@include ellipsis;
			height: 100%;
			display: block;
			padding: 0.5rem;
			font-size: 0.875rem;
			font-weight: 500;
			color: $white;
		}
		.dropdown {
			height: 100%;

			& > [data-elem='header'] {
				height: 100%;
				& > [data-elem='select'] {
					height: 2.375rem;
					max-height: 100%;
					width: auto;
					min-width: fit-content;
					padding: 0.625rem;
					background-color: $grey;
					border: none;
					& > [data-elem='placeholder'] {
						color: $white;
						font-size: 0.875rem;
					}
					& > svg {
						fill: $white;
						width: 0.813rem;
						height: 0.813rem;
					}
				}
			}
		}
	}
	.page-numbers {
		@include flex;
		gap: 1.25rem;
		flex: 1 1 100%;

		@include lg {
			flex: 1 1 60%;
		}

		& > .button {
			&.disable {
				pointer-events: none;
			}
			[data-elem='title'] {
				color: $white;
			}
			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		& > .pageSelect {
			@include flex(row, space-between, center);
			gap: 0.625rem;

			.number {
				cursor: pointer;
				border-radius: 50%;
				background-color: #e0e0e0;
				color: $black;
				width: 2.313rem;
				line-height: 2.313rem;
				text-align: center;
				font-size: 1rem;
				border: 1px solid transparent;

				&:not([data-active='true']) {
					display: none;
				}

				@include md {
					&:not([data-active='true']) {
						display: block;
					}
				}

				&:hover {
					border: 1px solid $highlight;
					color: $highlight;
					background: $background;
				}

				&.active {
					background-color: $highlight;
					color: $white;
				}
			}
		}
	}

	.form {
		display: none;
		@include lg {
			@include flex;
		}
		> [data-elem*='component'] {
			width: 100%;
			height: 100%;
			> * {
				height: 100%;
			}

			> form {
				width: fit-content;
				margin-left: auto;
			}
		}
		padding: 0;
		flex: 0 1 20%;
		background: transparent;
		.jump-to-page {
			width: 100%;
			background: transparent;
			@include flex(row, center, stretch);

			> [data-elem*='component'] {
				overflow: hidden;
				height: 100%;
			}
			gap: 0rem;
			padding: 0;
			height: 100%;

			.inputbox {
				max-width: 100%;
				height: 100%;
				> label {
					height: 100%;
					> [data-elem='base-cell'] {
						border-radius: 0.313rem;
						background-color: transparent;
						color: $white;
						border-color: $grey1;
						border-radius: 0.25rem 0 0 0.25rem;
						height: 100%;
						width: 10rem;
						flex: 1;

						.icon {
							width: 1.5rem;
							height: 1.5rem;
							fill: $grey1;
						}

						> [data-elem='component2'] {
							height: 100%;
						}

						[data-elem='input'] {
							text-align: center;
							color: $white;
							background-color: transparent;
							border: none;
							height: 100%;
							width: 100%;
						}
					}
				}
			}

			.button {
				border-radius: 0rem 0.25rem 0.25rem 0rem;
				background-color: $grey1;
				padding: 0.75rem 0.5rem;
				height: 100%;

				.icon {
					width: 1.5rem;
					height: 1.5rem;
					fill: $white;
					flex-shrink: 0;
				}
			}
		}
	}
}
