@use '../../../styles/tokens' as tokens;
@import '../../../styles/index';

.wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	padding: 1px;
	border-radius: tokens.$radius-xxs;
	box-sizing: border-box;

	&:active {
		border-color: tokens.$color-fg-brand-primary;
	}

	&:has(.link:focus-visible) {
		border-color: tokens.$color-fg-brand-primary;
	}

	// Sizes

	&.size-sm .link {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.32px;
		gap: 8px;
	}

	&.size-md .link {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.16px;
		gap: 10px;
	}

	&.size-lg .link {
		font-size: 16px;
		line-height: 22px;
		gap: 10px;
	}

	// Disabled

	&.disabled {
		pointer-events: none;

		.link {
			color: tokens.$color-text-disabled;
		}

		.icon {
			stroke: tokens.$color-fg-disabled;
		}
	}

	// Link

	.link {
		display: inline-flex;
		align-items: center;
		gap: tokens.$spacing-md;
		text-decoration: none;
		cursor: pointer;
		color: tokens.$color-fg-brand-primary;

		&:focus-visible {
			outline: none;
		}

		&:hover {
			color: tokens.$color-text-brand-secondary;

			.icon {
				stroke: tokens.$color-text-brand-secondary;
			}
		}

		&:visited {
			color: #8a3ffc; // no "visited" token exists in design-system yet

			.icon {
				stroke: #8a3ffc;
			}
		}

		&:active {
			color: tokens.$color-fg-primary;

			.icon {
				stroke: tokens.$color-fg-primary;
			}
		}
	}

	// Icon

	.icon {
		stroke-width: 1.2px;
		stroke: tokens.$color-fg-brand-primary;
		width: 16px;
		height: 16px;
	}

	.size-lg .icon {
		width: 20px;
		height: 20px;
	}
}

.unstyled {
	all: unset;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
	font: inherit;

	&:focus-visible {
		outline: none;
	}

	&:disabled {
		opacity: 0.25;
		pointer-events: none;
		cursor: not-allowed;
	}
}
