.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0.4375rem 1rem;
  background: var(--light-color1);
  margin-top: auto;
  width: 100%;
  height: 3.5rem;
  overflow: auto;
  transition-property: background-color, color, bottom, width;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}
.root::-webkit-scrollbar {
  display: none;
}
.root.floating {
  background: var(--light-color1);
  position: absolute;
  border-radius: 6.25rem;
  width: 100%;
  bottom: 3rem;
}
.root .left-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root .left-options .row-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  max-width: 9.5rem;
  background-color: transparent;
  padding: 0;
  height: 100%;
}
.root .left-options .row-switcher > [data-elem=component2] {
  height: 100%;
  width: 100%;
}
.root .left-options .row-switcher .row-switcher-handle {
  gap: 0.75rem;
  padding: 0;
  border-radius: 0.25rem;
  height: 100%;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.root .left-options .row-switcher .row-switcher-handle > [data-elem=component1] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}
.root .left-options .row-switcher .row-switcher-handle > [data-elem=component1]::before {
  content: "";
  margin: auto;
  background: var(--white);
  width: 0.0313rem;
  height: 50%;
}
.root .left-options .row-switcher .dropdown {
  height: 100%;
}
.root .left-options .row-switcher .dropdown > [data-elem=header] {
  height: 100%;
}
.root .left-options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] {
  height: 2.375rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.625rem;
  border: 0rem solid transparent;
}
.root .left-options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > [data-elem=placeholder] {
  color: var(--text-color);
  font-size: 0.875rem;
  background-color: var(--secondary-color2);
}
.root .left-options .row-switcher .dropdown > [data-elem=header] > [data-elem=select] > svg {
  color: var(--text-color);
  width: 1rem;
  height: 1rem;
}
.root .left-options .total-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.root .left-options .total-data span {
  font-size: 1rem;
  line-height: 1.5rem;
}
.root .page-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.root .page-numbers.stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.root .page-numbers.custom-page-number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root .page-numbers > .button.disable {
  pointer-events: none;
}
.root .page-numbers > .button [data-elem=title] {
  color: var(--white);
}
.root .page-numbers > .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}
.root .page-numbers > .pageSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.root .page-numbers > .pageSelect .number {
  cursor: pointer;
  border-radius: 100%;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  border: 1px solid transparent;
}
.root .page-numbers > .pageSelect .number.custom-number {
  border-radius: 0;
  font-size: 0.875rem;
  width: auto;
  white-space: nowrap;
  padding-inline: 0.3125rem;
}
.root .page-numbers > .pageSelect .number:not([data-active=true]) {
  display: none;
}
@media (min-width: 768px) {
  .root .page-numbers > .pageSelect .number:not([data-active=true]) {
    display: inline-flex;
  }
}
.root .page-numbers > .pageSelect .number:hover {
  color: var(--secondary-color2);
  background: var(--background-color5);
}
.root .page-numbers > .pageSelect .number.active {
  background-color: var(--secondary-color2);
  color: var(--white);
}
.root .page-numbers > .pageSelect .number.disabled {
  color: var(--light-color2);
  cursor: not-allowed;
}
.root .page-numbers > .pageSelect .number.ellipsis {
  font-size: 1.8rem;
  padding-top: 0.125rem;
  font-weight: 600;
  align-items: unset;
}
.root .page-numbers > .pageSelect .number.ellipsis:hover {
  color: var(--secondary-color2);
  background: transparent;
}
.root .options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
.root .options .total-data {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
}
.root .options > [data-elem=base-cell] {
  flex: 0 !important;
}
.root .options .form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  min-width: auto;
  padding: 0;
  flex: 1;
  background: transparent;
}
.root .options .form > [data-elem*=component] {
  width: 100%;
  height: 100%;
}
.root .options .form > [data-elem*=component] > * {
  height: 100%;
}
.root .options .form .jump-to-page {
  background: transparent;
  padding: 0rem;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  border: 0.0313rem solid var(--secondary-color2);
  box-shadow: 0.1875rem 0.1875rem 0.25rem 0rem rgba(194, 194, 194, 0.12) inset;
  gap: 0;
}
.root .options .form .jump-to-page > [data-elem*=component] {
  overflow: hidden;
  height: 100%;
}
.root .options .form .jump-to-page .inputbox {
  height: 100%;
}
.root .options .form .jump-to-page .inputbox > label {
  height: 100%;
  font-size: 0.875rem;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] {
  background-color: transparent;
  color: var(--white);
  width: 3rem;
  flex: 1;
  padding: 0rem !important;
  border: none;
  border-radius: 0rem;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--grey1);
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] > [data-elem=component2] {
  height: 100%;
}
.root .options .form .jump-to-page .inputbox > label > [data-elem=base-cell] [data-elem=input] {
  text-align: center;
  background-color: transparent !important;
  border: none;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.root .options .form .jump-to-page .button {
  border-radius: 0rem;
  background-color: var(--secondary-color2);
  padding: 0.75rem 0.5rem;
  height: 100%;
}
.root .options .form .jump-to-page .button .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
  flex-shrink: 0;
}/*# sourceMappingURL=Pagination.module.css.map */