@use '../../../styles/tokens' as tokens;
@import '../../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	width: 100%;
	background: tokens.$color-bg-primary;
	border-bottom: 1px solid tokens.$color-border-tertiary;
	border-top: 1px solid tokens.$color-border-tertiary;

	& + .root {
		border-top: 0;
	}

	&:has(> .header:focus-visible) {
		outline: 2px solid tokens.$color-fg-brand-primary-alt;
		outline-offset: -2px;
	}

	& > .header[data-elem='base-cell'] {
		@include flex(row, flex-start);
		gap: 0.5rem;
		height: 44px;
		padding: 0 tokens.$spacing-xl;
		text-align: left;
		cursor: pointer;
		border: 0;

		& > [data-elem='component3'] {
			svg {
				transition: all 0.3s ease-in-out;
			}
		}

		& > [data-elem='component1'],
		& > [data-elem='component3'] {
			@include flex;
			svg {
				transform: rotate(180deg);
				width: 16px;
				height: 16px;
				fill: tokens.$color-fg-secondary;
			}
		}

		& > [data-elem='component3'] {
			margin-left: auto;
		}

		.title {
			flex: 1 1 auto;
			user-select: none;
			color: var(--color-text-primary, #181d27);
			font-family: tokens.$font-family-base;
			font-size: tokens.$font-size-14;
			font-weight: tokens.$font-weight-medium;
			line-height: tokens.$line-height-20;
			letter-spacing: 0;
		}

		&:hover {
			box-shadow: inset 2px 0 tokens.$color-fg-brand-primary;
			background: var(--color-bg-primary-hover, #f7f7f7);
		}

		&:focus-visible {
			outline: none;
		}
	}

	& > .body {
		padding: tokens.$spacing-md tokens.$spacing-xl tokens.$spacing-4xl;
		color: var(--color-text-primary, #181d27);
		font-family: tokens.$font-family-base;
		font-size: tokens.$font-size-14;
		font-weight: tokens.$font-weight-regular;
		line-height: tokens.$line-height-20;
		letter-spacing: 0;

		> p {
			max-width: 393px;
			margin: 0;
		}
	}

	&.open {
		& > .header[data-elem='base-cell'] {
			box-shadow: inset 2px 0 tokens.$color-fg-brand-primary;

			[data-elem='component3'] {
				svg {
					transform: none;
				}
			}
		}

		& > .body {
			@include flex(column, flex-start, stretch);
			> button[data-elem='base-cell'] {
				width: fit-content;
				align-self: flex-end;
				@include flex(row, flex-end);
				.expand {
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}
	}

	&.disabled {
		> .header[data-elem='base-cell'] {
			cursor: not-allowed;
			pointer-events: none;
			background: transparent;

			.title {
				color: var(--color-text-disabled, #c1c5cd);
				opacity: 0.25;
				letter-spacing: 0.16px;
			}

			svg {
				opacity: 0.25;
			}
		}

		> .body {
			display: none;
		}
	}
}
