@import '../../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	flex: 1;

	.header {
		@include flex(row, flex-start);
		gap: 0.25rem;
		min-height: 2rem;
		height: auto;
		padding: 0rem 0.5rem;
		cursor: pointer;

		& > [data-elem='component1'],
		& > [data-elem='component3'] {
			@include flex;
			.expand {
				padding: 0;
				height: auto;
				width: 1rem;
				height: 1rem;
				.icon {
					transform: rotate(-90deg);
					width: 1rem;
					height: 1rem;
					fill: $text-color;
				}
			}
		}

		& > [data-elem='component2'] {
			flex: 1 1 auto;
			.title {
				@include flex(row, flex-start);
				width: 100%;
				height: auto;
				padding: 0.25rem 0rem;
				user-select: none;
			}
		}

		&:hover {
			.icon,
			.title,
			.title svg {
				color: $primary-color4;
				fill: $primary-color4;
			}

			background: $background-color4;
		}
	}

	.body {
		display: none;
		flex: 1 0 auto;
		padding: 0px 0rem 0px 0.25rem;

		& > [data-elem='component1'] {
			flex: 0 0 1.6rem;
			.tail {
				@include flex(column, flex-start);
				width: 1.6rem;
				height: 100%;
				&::after {
					content: '';
					display: block;
					margin: auto;
					width: 1px;
					flex: 1;
					background: $grey1;
				}
			}
		}

		& > [data-elem='component2'] {
			flex: 1 0 auto;
			.children {
				flex: 1 0 auto;
			}
		}
	}

	&.open {
		& > .header {
			.expand {
				.icon {
					transform: none;
				}
			}
		}

		& > .body {
			@include flex(row, flex-start, stretch);
			gap: 0.25rem;
			height: auto;
		}
	}

	&.active {
		> .header {
			.icon,
			.title,
			.title svg {
				color: $primary-color4;
				fill: $primary-color4;
			}

			background: $background-color4;
		}
	}
}
