@import '../../../../styles/';

.preview {
	@include flex(row, center, center);
	margin-inline: 1rem;
	margin-bottom: 0.75rem;
	padding: 0.75rem 1rem;
	border: 1px solid $mono-color2;
	border-radius: 4px;
	gap: 0.5rem;

	.preview-text {
		font-size: 0.875rem;
		color: $mono-color1;
		@include ellipsis;
	}

	.duration {
		font-size: 0.875rem;
		font-weight: 600;
		color: $text-color;
		white-space: nowrap;
	}
}

.root {
	@include flex(row, space-between, stretch);
	margin-inline: 1rem;
	gap: 2.5rem;
	button[data-elem='base-cell'].apply[type='submit'] {
		background-color: $secondary-color2;
		margin-top: auto;
		flex: 1;
	}
	button[data-elem='base-cell'].clear[type='submit'] {
		background-color: $light-color2;
		color: $mono-color1;
		flex: 1;
		&:hover {
			background-color: $light-color1;
		}
	}
}
