.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
.root .label {
  font-size: 1rem;
  color: #484848;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33333rem;
  letter-spacing: 0.02667rem;
}
.root .label.required::after {
  content: " *";
  color: var(--primary-color1);
}
.root .label.disabled {
  color: rgba(22, 22, 22, 0.3019607843);
}
.root .info {
  font-size: 1rem;
  color: #484848;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33333rem;
  letter-spacing: 0.02667rem;
}
.root .info.error-info {
  color: #da1e28;
}
.root .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  border-radius: 0.33333rem;
  position: relative;
  display: flex;
  height: 3.33333rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid #828282;
  background: #f7f7f7;
}
.root .header:hover {
  background-color: #e4e4e4 !important;
}
.root .header.disabled {
  border-color: #f7f7f7;
}
.root .header.disabled:hover {
  background-color: #f7f7f7 !important;
}
.root .header.read-only {
  border-width: 0rem 0rem 0rem 0rem;
  border-bottom: 1px solid #ededed;
  background: transparent;
}
.root .header.read-only:hover {
  background-color: transparent !important;
}
.root .header.highlightOnSelect [data-elem=select] {
  background-color: var(--background-color5);
  color: var(--secondary-color2);
}
.root .header.highlightOnSelect [data-elem=select] * {
  color: var(--secondary-color2);
}
.root .header.highlightOnSelect [data-elem=select] .icon-bundle .caret-icon {
  fill: var(--secondary-color2) !important;
}
.root .header.highlightOnSelect [data-elem=select] .icon-bundle .caret-icon-upDown {
  fill: transparent;
}
.root .header.highlightOnSelect [data-elem=select] .icon-bundle .caret-icon-upDown > path {
  stroke: var(--secondary-color2);
}
.root .header.open {
  outline: 1px solid var(--secondary-color2);
  transition: outline 100ms ease-in-out;
}
.root .header.error {
  border: 1px solid var(--primary-color1);
  border-radius: 0.33333rem;
  border: 2px solid, #da1e28;
}
.root .header .input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}
.root .header .input:focus + .select {
  border-color: var(--primary-color4);
}
.root .header .input:focus + .select.feedback-error {
  border-color: var(--primary-color1);
}
.root .header .select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  max-width: 100%;
  gap: 0.5rem;
  outline: none;
  border-radius: 0.3125rem;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  background: #f7f7f7;
  cursor: pointer;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.root .header .select:hover {
  background-color: #e4e4e4 !important;
}
.root .header .select.disabled:hover {
  background-color: #f7f7f7 !important;
}
.root .header .select.read-only:hover {
  background-color: transparent !important;
}
.root .header .select .placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #161616;
  font-size: 1.16667rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.01333rem;
}
.root .header .select .placeholder.disabled {
  color: rgba(22, 22, 22, 0.3019607843);
}
.root .header .select .info-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.root .header .select .icon-bundle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.root .header .select .icon-bundle .caret-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
  fill: var(--text-color) !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: rotate(180deg);
}
.root .header .select .icon-bundle .caret-icon.open {
  transform: rotate(0deg);
}
.root .header .select .icon-bundle .caret-icon.disabled {
  fill: rgba(22, 22, 22, 0.3019607843) !important;
}
.root .header .select .icon-bundle .caret-icon-upDown {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
  fill: transparent !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: rotate(180deg);
}
.root .header .select .icon-bundle .caret-icon-upDown > path {
  stroke: var(--text-color);
}
.root .header .select .icon-bundle .caret-icon-upDown.open {
  transform: rotate(0deg);
}
.root .header .select .icon-bundle .info-icon path {
  stroke: white;
}
.root .header .select .icon-bundle .info-icon.error-icon path {
  fill: #da1e28;
}
.root .header .select .icon-bundle .info-icon.warning-icon path {
  fill: #f1c21b;
}
.root .header .select .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
  fill: var(--text-color) !important;
}
.root .header .select .icon.open {
  transform: rotate(180deg);
}
.root .header .select.feedback-error {
  border-color: var(--primary-color1);
}
.root.open .header {
  border-color: var(--primary-color4);
}
.root.disabled .select {
  background: #f7f7f7;
  cursor: not-allowed;
}
.root.read-only .select {
  background: transparent;
  cursor: not-allowed;
}

.body {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  background: var(--light-color3);
  width: auto;
  border-radius: 0.3125rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 4rem;
  max-height: 25rem !important;
  outline: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.body::-webkit-scrollbar {
  display: none;
}
.body.multi {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.body.multi li:nth-child(1) {
  padding-left: 1.875rem;
}
.body .multi-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--light-color3);
  padding-inline: 1.25rem;
  padding-block: 0.25rem;
  list-style: none;
}
.body .multi-options button[data-elem=base-cell].button[type=button] {
  width: auto;
  padding: 0% !important;
  background-color: transparent;
  color: var(--secondary-color2);
}
.body .multi-options button[data-elem=base-cell].button[type=button] > [data-elem=component2] {
  margin-left: 0.1rem;
}
.body .multi-options button[data-elem=base-cell].button[type=button] > [data-elem=component1] > svg {
  fill: var(--secondary-color2);
}
.body .multi-options .items {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
}
.body .search {
  width: 100%;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
}
.body .search label div {
  border-radius: 0rem !important;
}
.body .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
  position: sticky;
  background-color: var(--light-color3);
  padding: 0rem 1rem 1rem;
  bottom: 0;
}
.body .footer button[data-elem=base-cell].multi-apply[type=submit] {
  flex: 1;
}
.body .footer button[data-elem=base-cell].multi-clear[type=submit] {
  background-color: var(--light-color2);
  color: var(--mono-color1);
  flex: 1;
}
.body .footer button[data-elem=base-cell].multi-clear[type=submit]:hover {
  background-color: var(--light-color1);
}
.body.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}/*# sourceMappingURL=Dropdown.module.css.map */