@import '../../styles/_index';

.root {
	@include flex(row, space-between, flex-start);
	position: fixed;
	padding: 1rem;
	width: 37.5rem;
	opacity: 1;
	background-color: $light-color3;
	border-radius: 0.25rem;

	&.info {
		background-color: $background-color4;
	}
	&.error,
	&.danger {
		background-color: $background-color1;
	}
	&.success {
		background-color: $background-color2;
	}
	&.warning {
		background-color: $background-color3;
	}

	&.position-bottom-center {
		left: 50%;
		bottom: 1rem;
		transform: translate(-50%, 0);
	}

	&.position-top-right {
		right: 1rem;
		top: 1rem;
	}

	&.position-bottom-right {
		right: 1rem;
		bottom: 1rem;
	}

	&.position-top-center {
		left: 50%;
		top: 1rem;
		transform: translate(-50%, 0%);
	}

	.left {
		@include flex(row, flex-start, flex-start);
		.icon-container {
			padding: 0.5rem;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 0.625rem;
			background: $light-color3;
			&.info {
				box-shadow: 0px 0px 0.6rem 0px $secondary-color2;
			}
			&.error,
			&.danger {
				box-shadow: 0px 0px 0.6rem 0px $primary-color1;
			}
			&.success {
				box-shadow: 0px 0px 0.6rem 0px $primary-color2;
			}
			&.warning {
				box-shadow: 0px 0px 0.6rem 0px $primary-color3;
			}

			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		.content {
			@include flex(column, flex-start, flex-start);
			margin-left: 1.25rem;
			gap: 0.25rem;
			.title {
				color: $text-color;
				font-size: 1rem;
				font-weight: 600;
			}
			.description {
				word-wrap: break-word;
				word-break: break-all;
				color: $text-color;
				font-size: 1rem;
				line-height: 1.3125rem;
				font-weight: 400;
			}
		}
	}
	.actions {
		@include flex(row, space-between, flex-start);
		gap: 0.3125rem;
		.button {
			padding: 0.313rem 1rem;
			font-weight: 400;
		}
		.close {
			height: auto;
			.icon {
				width: 1.25rem;
				height: 1.25rem;
				fill: $text-color;
			}
		}
	}

	&.shadow {
		box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
	}
}
