@import '../../../styles';

.root {
	cursor: pointer;
	gap: 10px;
	&.position-left {
		@include flex(row, flex-start);
	}
	&.position-right {
		@include flex(row-reverse, flex-end);
	}

	input[type='checkbox'] {
		opacity: 0;
		z-index: 1;
		position: absolute;
		width: 1px;
		height: 1px;
	}

	&.disabled {
		cursor: default;
	}

	.icon {
		display: inline-block;
		border-radius: 0.375rem;
		&.icon-sm {
			width: 1rem;
			height: 1rem;
		}
		&.icon-md {
			width: 1.25rem;
			height: 1.25rem;
		}
		&.icon-lg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	input {
		&:focus {
			+ .icon {
				box-shadow: 0px 0px 0px 8px rgba(15, 98, 254, 0.125);
			}
		}
	}

	[data-elem='label'] {
		user-select: none;
	}
}
