@import '../../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	overflow: hidden;
	border-radius: 2.5rem;
	height: 100%;
	width: 100%;
	position: relative;
	background: #fbfbfb;
	box-shadow: 4px 4px 25px 2px rgba(226, 226, 226, 0.8);

	.header {
		@include flex(row, space-between, flex-start);
		padding: 1.713rem 1.713rem 0.25rem 1.713rem;

		.header-title {
			@include flex(row, flex-start);
			gap: 0.5rem;
			[data-elem='title'],
			[data-elem='subtitle'] {
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				text-align: left;
				color: #1a2028;
			}
			[data-elem='title-desc'] {
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				text-align: left;
				color: $text-color;
			}
			.back {
				height: 1.5rem;
				width: 1.5rem;
				[data-elem='component1'] {
					.icon {
						width: 1.5rem;
						height: 1.5rem;
						fill: $white;
					}
				}
			}

			&.no-options {
				flex: 1;
			}

			&.no-title-options {
				.title-container {
					@include flex(column, flex-start, flex-start);
					gap: 0.4rem;
				}
			}

			button.title {
				height: auto;
				background: transparent;
				cursor: pointer;
				border-radius: 0.25rem;
				padding: 0 0.5rem;

				.icon {
					width: 1rem;
					height: 1rem;
					fill: $menu-black;
				}
			}
		}

		.header-options {
			@include flex(column, flex-end, flex-end);
			&.toggle {
				gap: 0.5rem;
			}

			.header-options-list {
				@include flex(row, flex-end);
				gap: 0.5rem;
				.dropdown-header {
					height: 1.75rem;

					[data-elem='select'] {
						background-color: transparent;
						border-color: $grey6;
						width: 100%;
						padding: 0.07rem 0.5rem;
						[data-elem='placeholder'] {
							font-size: 0.875rem;
							color: $dark-grey;
						}
						> svg {
							width: 0.875rem;
							fill: $dark-grey;
						}
					}
				}

				.expand-button {
					padding: 0 0.25rem;
					height: 1.75rem;
					color: $dark-grey;
					border-color: $grey6;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.3125rem;
					text-align: left;
					.expand-icon {
						height: 0.8331rem;
						width: 0.8331rem;
						fill: $dark-grey;
					}
				}

				.filter-button {
					padding: 0 0.25rem;
					height: 1.75rem;
					color: $dark-grey;
					border-color: $grey6;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.3125rem;
					text-align: left;
					.filter-icon {
						height: 0.875rem;
						width: 0.875rem;
						fill: $dark-grey;
					}
				}

				.toggle-body {
					padding: 0.125rem 0.25rem;
					height: 1.875rem;
				}

				.date-picker {
					min-width: 0;
					[data-elem='header'] {
						padding: 0.06rem 0.25rem;
						border: 1px solid $grey6;
						font-size: 0.875rem;
						> div {
							gap: 0.5rem;
							:nth-child(1) {
								height: 1.25rem;
								width: 1.25rem;
								fill: $dark-grey;
							}
						}
					}
				}
			}
		}
	}

	.drawer {
		width: 40%;
		height: inherit;
		border-radius: 2.5rem;
		box-shadow: none !important;
	}

	.overlay {
		background: rgba(0, 0, 0, 0.16);
		backdrop-filter: blur(5px);
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	// div.children {
	// 	padding: 1.713rem 0 0 0;
	// }

	.children {
		flex: 1 1;
		position: relative;
		padding: 0.5rem;
	}
}

.dropdown-popper {
	padding: 0rem;
	background: $grey1;

	.dropdown-item {
		height: 2.25rem;
		color: $white;
		background: $grey;

		&:hover,
		&:focus {
			color: $dark-grey;
			background: $grey2;
			label > svg {
				border: 1px solid $dark-grey;
				border-radius: 0.25rem;
			}
		}
	}
}
