.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  max-width: 100%;
  overflow: visible;
}
.root .label {
  font-weight: 400;
  font-size: 0.75rem;
}
.root .label.light {
  color: var(--black);
}
.root .label.dark {
  color: var(--white);
}
.root .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: transparent;
  border: 0.0625rem solid #d9d9d9;
  border-radius: 0.25rem;
  width: auto;
  border: 0.0625rem solid var(--grey5);
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.root .container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.root .container .placeholder {
  font-weight: 400;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 0.9375rem;
  color: var(--grey1);
}
.root .container .value {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.9375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root .container .value.light {
  color: var(--black);
}
.root .container .value.dark {
  color: var(--white);
}
.root .container .value span {
  max-width: 150px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}
.root .container .input {
  display: none;
}
.root .container .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.root .container .icon.light > path {
  fill: var(--dark-grey);
}
.root .container .icon.dark > path {
  fill: var(--white);
}
.root .container .down {
  transform: rotate(270deg);
}
.root .container .up {
  transform: rotate(90deg);
}
.root .disabled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--grey10);
  border: 0.0625rem solid #d9d9d9;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--grey5);
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.root .disabled .down-arrow {
  transform: rotate(270deg);
  fill: var(--grey3);
}
.root .disabled .placeholder {
  font-weight: 400;
  font-size: 1rem;
  color: var(--grey3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.root.open {
  border-color: var(--highlight);
}
.root .error {
  border: 0.0938rem solid var(--error);
}
.root .error-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--error);
}

.popper {
  display: none;
  background: var(--white);
  border: 0.0625rem solid #d9d9d9;
  box-shadow: -2px -2px 4px rgba(166, 166, 166, 0.25), 2px 2px 4px rgba(166, 166, 166, 0.24);
  border-radius: 0.25rem;
  overflow: auto;
}
.popper.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
}/*# sourceMappingURL=DatePicker.module.css.map */