.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.root .custom-picker[data-elem=base-cell] {
  flex: 1;
  width: 100%;
  min-width: 15rem;
  border-color: var(--grey3);
  border-style: solid;
  border-width: 0.0625rem 0 0.0625rem 0.0625rem;
  background-color: transparent !important;
  border-radius: 0.25rem 0 0 0.25rem;
  height: auto;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root .custom-picker[data-elem=base-cell].highlight {
  background-color: var(--mono-color3) !important;
}
.root .custom-picker[data-elem=base-cell] > [data-elem=component1] {
  flex: 0 0 auto;
}
.root .custom-picker[data-elem=base-cell] > [data-elem=component1] .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.root .custom-picker[data-elem=base-cell] > [data-elem=component1] .icon path {
  stroke: var(--text-color);
}
.root .custom-picker[data-elem=base-cell] > [data-elem=component2] {
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.root .date-picker {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  max-width: 100%;
  min-width: 15rem;
  overflow: visible;
}
.root .date-picker .label {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--text-color);
}
.root .date-picker .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 0.3125rem;
  width: auto;
  border: 0.0625rem solid #dfe0e2;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.root .date-picker .container.with-custom {
  border-radius: 0 0.25rem 0.25rem 0;
}
.root .date-picker .container.disabled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--grey10);
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--grey5);
  padding: 0.75rem 1rem;
  cursor: not-allowed;
}
.root .date-picker .container.disabled .down-arrow {
  transform: rotate(270deg);
  fill: var(--grey3);
}
.root .date-picker .container.disabled .placeholder {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.root .date-picker .container.open {
  outline: 0.0625rem solid var(--primary-color4);
}
.root .date-picker .container.error {
  outline: 0.0625rem solid var(--primary-color1);
}
.root .date-picker .container .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  overflow: hidden;
}
.root .date-picker .container .left .icon {
  flex: 1 0 auto;
}
.root .date-picker .container .left > div {
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.root .date-picker .container .left > div .placeholder {
  font-weight: 500;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.root .date-picker .container .left > div > span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}
.root .date-picker .container .input {
  display: none;
}
.root .date-picker .container .close {
  height: auto;
  padding: 0;
}
.root .date-picker .container .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
}
.root .date-picker .container .icon > path {
  fill: var(--text-color);
}
.root .date-picker .container .icon.open {
  transform: rotate(180deg);
}
.root .date-picker .container {
  border-color: var(--grey);
}
.root .date-picker .container .placeholder {
  color: var(--grey2);
  font-weight: 500;
}
.root .date-picker .container .value {
  color: var(--grey2);
  font-weight: 500;
}
.root .date-picker .container.highlight .value {
  color: var(--text-color);
}
.root .date-picker .container.highlight .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
}
.root .date-picker .container.highlight .icon > path {
  fill: var(--text-color);
}
.root .date-picker .container.highlight .icon.open {
  transform: rotate(180deg);
}
.root .date-picker .error-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--primary-color1);
}

.popper {
  display: none;
  background: var(--light-color3);
  border: 0.0625rem solid #d9d9d9;
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  border-radius: 0.25rem;
}
.popper.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
}/*# sourceMappingURL=DatePicker.module.css.map */