@import '../../styles';

.root {
	@include flex(column, flex-start, stretch);
	gap: 0.5rem;
	max-width: 100%;
	overflow: visible;
	.label {
		font-weight: 400;
		font-size: 0.75rem;
		&.light {
			color: $black;
		}
		&.dark {
			color: $white;
		}
	}

	.container {
		@include flex(row, space-between, center);
		position: relative;
		background: transparent;
		border: 0.0625rem solid #d9d9d9;
		border-radius: 0.25rem;
		width: auto;
		border: 0.0625rem solid $grey5;
		padding: 0.75rem 1rem;

		cursor: pointer;

		> div {
			@include flex(row, space-between, center);

			font-size: 0px;
			letter-spacing: 0px;
			word-spacing: 0px;
		}

		.placeholder {
			font-weight: 400;
			font-size: 1rem;
			user-select: none;
			margin-left: 0.9375rem;
			color: $grey1;
		}
		.value {
			font-weight: 400;
			font-size: 1rem;
			margin-left: 0.9375rem;
			@include flex;
			&.light {
				color: $black;
			}
			&.dark {
				color: $white;
			}
			span {
				max-width: 150px;
				display: inline-block;
				@include ellipsis;
				font-weight: 500;
			}
		}
		.input {
			display: none;
		}
		.icon {
			width: 1.25rem;
			height: 1.25rem;

			&.light {
				> path {
					fill: $dark-grey;
				}
			}
			&.dark {
				> path {
					fill: $white;
				}
			}
		}
		.down {
			transform: rotate(270deg);
		}
		.up {
			transform: rotate(90deg);
		}
	}
	.disabled {
		@include flex(row, space-between, center);
		position: relative;
		background: $grey10;
		border: 0.0625rem solid #d9d9d9;
		border-radius: 0.25rem;
		border: 0.0625rem solid $grey5;
		padding: 0.75rem 1rem;
		cursor: pointer;
		.down-arrow {
			transform: rotate(270deg);
			fill: $grey3;
		}
		.placeholder {
			font-weight: 400;
			font-size: 1rem;
			color: $grey3;
			user-select: none;
		}
	}
	&.open {
		border-color: $highlight;
	}
	.error {
		border: 0.0938rem solid $error;
	}
	.error-text {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		color: $error;
	}
}

.popper {
	display: none;
	background: $white;
	border: 0.0625rem solid #d9d9d9;
	@include boxShadow;
	border-radius: 0.25rem;
	overflow: auto;
	&.open {
		@include flex(column, flex-start, stretch);
		position: absolute;
	}
}
