@import '../../styles';

.root {
	@include flex(row, flex-start, center);
	max-width: 100%;
	.custom-picker[data-elem='base-cell'] {
		flex: 1;
		width: 100%;
		min-width: 15rem;
		border-color: $grey3;
		border-style: solid;
		border-width: 0.0625rem 0 0.0625rem 0.0625rem;
		background-color: transparent !important;
		border-radius: 0.25rem 0 0 0.25rem;
		height: auto;
		padding: 0.75rem 1rem;
		@include flex(row, flex-start, center);
		&.highlight {
			background-color: $mono-color3 !important;
		}
		> [data-elem='component1'] {
			flex: 0 0 auto;
			.icon {
				width: 1.5rem;
				height: 1.5rem;
				path {
					stroke: $text-color;
				}
			}
		}
		> [data-elem='component2'] {
			color: $text-color;
			@include ellipsis;
		}
	}

	.date-picker {
		flex: 1;
		@include flex(column, flex-start, stretch);
		gap: 0.5rem;
		max-width: 100%;
		min-width: 15rem;
		overflow: visible;

		.label {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 0.9375rem;
			color: $text-color;
		}

		.container {
			@include flex(row, space-between, center);
			position: relative;
			background-color: transparent;
			border-radius: 0.3125rem;
			width: auto;
			border: 0.0625rem solid #dfe0e2;
			padding: 0.75rem 1rem;
			cursor: pointer;

			&.with-custom {
				border-radius: 0 0.25rem 0.25rem 0;
			}

			&.disabled {
				@include flex(row, space-between, center);
				position: relative;
				background: $grey10;
				border-radius: 0.25rem;
				border: 0.0625rem solid $grey5;
				padding: 0.75rem 1rem;
				cursor: not-allowed;
				.down-arrow {
					transform: rotate(270deg);
					fill: $grey3;
				}
				.placeholder {
					font-weight: 500;
					font-size: 1rem;
					color: $grey3;
					user-select: none;
				}
			}

			&.open {
				outline: 0.0625rem solid $primary-color4;
			}
			&.error {
				outline: 0.0625rem solid $primary-color1;
			}

			.left {
				@include flex(row, flex-start, center);
				gap: 0.9375rem;
				overflow: hidden;
				.icon {
					flex: 1 0 auto;
				}
				> div {
					font-weight: 400;
					font-size: 1rem;
					flex: 1 1 auto;
					overflow: hidden;
					@include flex;
					color: $text-color;

					.placeholder {
						font-weight: 500;
						font-size: 1rem;
						user-select: none;
					}

					> span {
						display: inline-block;
						@include ellipsis;
						font-weight: 500;
					}
				}
			}

			.input {
				display: none;
			}

			.close {
				height: auto;
				padding: 0;
			}

			.icon {
				width: 1.5rem;
				height: 1.5rem;
				transition: transform 0.5s;
				> path {
					fill: $text-color;
				}

				&.open {
					transform: rotate(180deg);
				}
			}
		}

		.container {
			border-color: $grey;
			.placeholder {
				color: $grey2;
				font-weight: 500;
			}
			.value {
				color: $grey2;
				font-weight: 500;
			}
			&.highlight {
				.value {
					color: $text-color;
				}
				.icon {
					width: 1.5rem;
					height: 1.5rem;
					transition: transform 0.5s;
					> path {
						fill: $text-color;
					}

					&.open {
						transform: rotate(180deg);
					}
				}
			}
		}

		.error-text {
			font-weight: 400;
			font-size: 0.75rem;
			line-height: 0.9375rem;
			color: $primary-color1;
		}
	}
}

.popper {
	display: none;
	background: $light-color3;
	border: 0.0625rem solid #d9d9d9;
	@include boxShadow;
	border-radius: 0.25rem;
	&.open {
		@include flex(column, flex-start, stretch);
		position: absolute;
	}
}
