@import '../../styles';

.root {
	@include flex(column, flex-start, stretch);
	gap: 0.5rem;
	max-width: 100%;
	width: 25%;
	overflow: visible;
	.label {
		font-weight: 400;
		font-size: 0.75rem;
		color: $black;
	}

	.container {
		@include flex(row, space-between, center);
		position: relative;
		background: transparent;
		border: 0.0625rem solid #d9d9d9;
		border-radius: 0.25rem;
		width: auto;
		border: 0.0625rem solid $grey5;
		padding: 0.75rem 1rem;
		cursor: pointer;
		> div {
			display: flex;
			align-items: center;
		}

		.placeholder {
			font-weight: 400;
			font-size: 1rem;
			color: $grey1;
			user-select: none;
			margin-left: 0.9375rem;
		}
		.value {
			font-weight: 400;
			font-size: 1rem;
			color: $black;
			margin-left: 0.9375rem;
			span {
				font-weight: 500;
			}
		}
		.input {
			display: none;
		}
		.icon {
			width: 1.5rem;
			height: 1.5rem;
			stroke: #181818;
		}
		.down {
			transform: rotate(270deg);
		}
		.up {
			transform: rotate(90deg);
		}
	}
	.disabled {
		@include flex(row, space-between, center);
		position: relative;
		background: $grey10;
		border: 0.0625rem solid #d9d9d9;
		border-radius: 0.25rem;
		border: 0.0625rem solid $grey5;
		padding: 0.75rem 1rem;
		cursor: pointer;
		.down-arrow {
			transform: rotate(270deg);
			fill: $grey3;
		}
		.placeholder {
			font-weight: 400;
			font-size: 1rem;
			color: $grey3;
			user-select: none;
		}
	}
	&.open {
		border-color: $highlight;
	}
	.error {
		border: 0.0938rem solid $error;
	}
	.error-text {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 0.9375rem;
		color: $error;
	}
}

.popper {
	display: none;
	background: $white;
	border: 0.0625rem solid #d9d9d9;
	@include boxShadow;
	border-radius: 0.25rem;
	overflow: auto;
	&.open {
		@include flex(column, flex-start, stretch);
		position: absolute;
	}
}
