.root[data-elem=base-cell] {
  cursor: pointer;
}
.root[data-elem=base-cell] [data-elem=component2] [data-elem=title] {
  font-weight: 500;
  font-size: 0.875rem;
}
.root[data-elem=base-cell].primary.contained {
  background-color: var(--secondary-color2);
  color: var(--white);
}
.root[data-elem=base-cell].primary.contained:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].primary.text {
  color: var(--secondary-color2);
}
.root[data-elem=base-cell].primary.outlined {
  background-color: transparent;
  border-color: var(--secondary-color2);
  color: var(--secondary-color2);
}
.root[data-elem=base-cell].primary.outlined:hover {
  background-color: var(--secondary-color2);
  color: var(--white);
}
.root[data-elem=base-cell].primary.outlined:hover:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].success.contained {
  background-color: var(--primary-color2);
  color: var(--white);
}
.root[data-elem=base-cell].success.contained:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].success.outlined {
  background-color: transparent;
  border-color: var(--primary-color2);
  color: var(--primary-color2);
}
.root[data-elem=base-cell].success.outlined:hover {
  background-color: var(--primary-color2);
  color: var(--white);
}
.root[data-elem=base-cell].success.outlined:hover:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].success.text {
  color: var(--primary-color2);
}
.root[data-elem=base-cell].danger.contained {
  background-color: var(--primary-color1);
  color: var(--light-color3);
}
.root[data-elem=base-cell].danger.contained:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].danger.outlined {
  background-color: transparent;
  border-color: var(--primary-color1);
  color: var(--primary-color1);
}
.root[data-elem=base-cell].danger.outlined:hover {
  background-color: var(--primary-color1);
  color: var(--white);
}
.root[data-elem=base-cell].danger.outlined:hover:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].danger.text {
  color: var(--primary-color1);
}
.root[data-elem=base-cell].warning.contained {
  background-color: var(--primary-color3);
  color: var(--light-color3);
}
.root[data-elem=base-cell].warning.contained:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].warning.outlined {
  background-color: transparent;
  border-color: var(--primary-color3);
  color: var(--primary-color3);
}
.root[data-elem=base-cell].warning.outlined:hover {
  background-color: var(--primary-color3);
  color: var(--white);
}
.root[data-elem=base-cell].warning.outlined:hover:hover {
  opacity: 0.85;
}
.root[data-elem=base-cell].warning.text {
  color: var(--primary-color3);
}
.root[data-elem=base-cell]:disabled.primary.contained, .root[data-elem=base-cell]:disabled.success.contained, .root[data-elem=base-cell]:disabled.danger.contained, .root[data-elem=base-cell]:disabled.warning.contained {
  background-color: var(--mono-color3);
  color: var(--mono-color1);
}
.root[data-elem=base-cell]:disabled.primary.outlined, .root[data-elem=base-cell]:disabled.success.outlined, .root[data-elem=base-cell]:disabled.danger.outlined, .root[data-elem=base-cell]:disabled.warning.outlined {
  background-color: transparent;
  border-color: var(--grey);
}
.root[data-elem=base-cell]:disabled.primary.outlined, .root[data-elem=base-cell]:disabled.primary.text, .root[data-elem=base-cell]:disabled.success.outlined, .root[data-elem=base-cell]:disabled.success.text, .root[data-elem=base-cell]:disabled.danger.outlined, .root[data-elem=base-cell]:disabled.danger.text, .root[data-elem=base-cell]:disabled.warning.outlined, .root[data-elem=base-cell]:disabled.warning.text {
  color: var(--grey);
}/*# sourceMappingURL=Button.module.css.map */