@import '../../../styles/';

.root[data-elem='base-cell'] {
	cursor: pointer;

	[data-elem='component2'] {
		[data-elem='title'] {
			font-weight: 500;
			font-size: 0.875rem;
		}
	}

	&.primary {
		&.contained {
			background-color: $primary-color4;
			color: $white;
			&:hover {
				opacity: 0.85;
			}
		}
		&.text {
			color: $primary-color4;
		}
		&.outlined {
			background-color: transparent;
			border-color: $primary-color4;
			color: $primary-color4;
			&:hover {
				background-color: $primary-color4;
				color: $white;
				&:hover {
					opacity: 0.85;
				}
			}
		}
	}

	&.success {
		&.contained {
			background-color: $primary-color2;
			color: $white;
			&:hover {
				opacity: 0.85;
			}
		}
		&.outlined {
			background-color: transparent;
			border-color: $primary-color2;
			color: $primary-color2;
			&:hover {
				background-color: $primary-color2;
				color: $white;
				&:hover {
					opacity: 0.85;
				}
			}
		}
		&.text {
			color: $primary-color2;
		}
	}
	&.danger {
		&.contained {
			background-color: $primary-color1;
			color: $light-color3;
			&:hover {
				opacity: 0.85;
			}
		}
		&.outlined {
			background-color: transparent;
			border-color: $primary-color1;
			color: $primary-color1;
			&:hover {
				background-color: $primary-color1;
				color: $white;
				&:hover {
					opacity: 0.85;
				}
			}
		}
		&.text {
			color: $primary-color1;
		}
	}
	&.warning {
		&.contained {
			background-color: $primary-color3;
			color: $light-color3;
			&:hover {
				opacity: 0.85;
			}
		}
		&.outlined {
			background-color: transparent;
			border-color: $primary-color3;
			color: $primary-color3;
			&:hover {
				background-color: $primary-color3;
				color: $white;
				&:hover {
					opacity: 0.85;
				}
			}
		}
		&.text {
			color: $primary-color3;
		}
	}

	&:disabled {
		&.primary,
		&.success,
		&.danger,
		&.warning {
			&.contained {
				background-color: $mono-color3;
				color: $mono-color1;
			}
			&.outlined {
				background-color: transparent;
				border-color: $grey;
			}
			&.outlined,
			&.text {
				color: $grey;
			}
		}
	}
}
