@import '../../../../styles/_index';

.root[data-elem='base-cell'] {
	@include removeScrollbar;
	@include flex(row, flex-end, center);
	background: #ececed;
	overflow-x: auto;
	padding: 0.375rem 1rem;
	width: 100%;
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
	}

	button.icon-button {
		@include debug;
		height: 100%;
		background: $grey8;
		border: 1px solid $grey4;
		color: #141920;
	}

	> [data-elem*='component'] {
		height: 100%;
	}

	.left,
	.center,
	.right {
		height: 100%;
	}

	> [data-elem='component1'] {
		.left {
			gap: 1rem;
			background: $grey8;
			border: 1px solid $grey4;
			color: $black;
			[data-elem='left'] {
				gap: 1rem;
			}

			.icon {
				fill: $black;
			}

			.filter-value {
				color: $white;
				background: $highlight;
				padding: 0.125rem 0.5rem;
				border-radius: 50%;
				font-size: 0.813rem;
			}
		}
	}

	> [data-elem='component2'] {
		gap: 0.5rem;
		height: 100%;
	}
}
