@import '../../styles';

.tabs-container {
	width: fit-content;
}

.tabs-container-vertical {
	@include flex(row, flex-start, flex-start);
	height: 100%;
}

.tabs {
	@include flex(row, flex-start);
	position: relative;
}

.vertical {
	@include flex(column, flex-start, flex-start);
	width: auto;
	border-right: 0.0625rem solid $light-color1;
}

.tab {
	width: 100%;
	@include flex(row, center, flex-start);
	height: 40px;
	padding: 0 1rem;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid $grey3 !important;

	&.vertical {
		height: fit-content;
	}
	> [data-elem='base-cell'] {
		@include flex(row, center, flex-start);

		gap: 0.5rem;
		padding: 0 !important;
		font-size: 14px;
		font-weight: 500;
		color: $text-color;
		height: 40px;
		&.active {
			color: $primary-color4 !important;
		}
		> [data-elem='component1'],
		> [data-elem='component3'] {
			> .icon {
				fill: $text-color;
				width: 1.5rem;
				height: 1.5rem;
				opacity: 0.7;
			}
		}
		> [data-elem='component2'] {
			> [data-elem='title'] {
				color: $text-color !important;
				font-size: 0.875rem !important;
				font-weight: 400 !important;
			}
		}
	}

	&:has(> [data-elem='base-cell']:disabled) {
		opacity: 0.25;
		border-bottom: 0.1875rem solid var(--border-border-disable, #dcdcdc);
	}

	&:focus-visible {
		outline: 1px solid $primary-color4;
		outline-offset: 0.1563rem;
	}

	&:hover:not(:has(:disabled)) {
		border-bottom: 0.1875rem solid $grey1 !important;
		> [data-elem='base-cell'] {
			> [data-elem='component1'] {
				> .icon {
					fill: $text-color;
					width: 1.5rem;
					height: 1.5rem;
					opacity: 0.8;
				}
			}
			> [data-elem='component2'] {
				> [data-elem='title'] {
					color: $text-color !important;
					font-size: 0.875rem !important;
					font-weight: 500 !important;
				}
			}
		}
	}

	&.active {
		> [data-elem='base-cell'] {
			> [data-elem='component1'] {
				> .icon {
					fill: $text-color;
					width: 1.5rem;
					height: 1.5rem;
					opacity: 1;
				}
			}
			> [data-elem='component2'] {
				> [data-elem='title'] {
					color: $text-color !important;
					font-size: 0.875rem !important;
					font-weight: 600 !important;
				}
			}
		}
	}

	.dropdown {
		@include flex(column, center, center);
		[data-elem='base-cell'] {
			height: 2.3125rem;

			&.active {
				color: $primary-color4 !important;
			}
		}
		> [data-elem='header'] {
			> [data-elem='select'] {
				background-color: transparent;
				border: none;
				padding: 5px !important;
				width: auto;
				font-size: 0.875rem;
				font-weight: 500;
			}
		}
	}
}

.tab-slider {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: $primary-color4;
	transition:
		left 0.3s ease,
		width 0.3s ease;
}

.tab-slider-vertical {
	position: absolute;
	right: 0;
	width: 0.0313rem;
	background-color: $primary-color4;
	transition:
		left 0.3s ease-in-out,
		width 0.3s ease-in-out;
	width: 100%;
}

.tab-content {
	padding-top: 10px;
	// border-top: 1px solid $grey3;
	z-index: -1;
}

.tab-content-vertical {
	@include flex(column);
	width: 100%;
}
