@import '../../../styles/index';

.root {
	width: '100%';
}

.legend {
	@include flex(row, center, center);
	gap: 0.625rem;
	> span {
		width: 8rem !important;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
	}
}
