.root[data-elem=base-cell] {
  background: var(--white);
  border-bottom: 1px solid var(--grey4);
}
.root[data-elem=base-cell] > [data-elem*=component] {
  overflow: hidden;
}
.root[data-elem=base-cell] > [data-elem*=component] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.root[data-elem=base-cell] > [data-elem*=component] .cell-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.root[data-elem=base-cell] > [data-elem*=component].light {
  background: var(--white);
}
.root[data-elem=base-cell] > [data-elem*=component].light .cell-text {
  color: #1a2028;
}
.root[data-elem=base-cell] > [data-elem*=component].dark {
  background: var(--white);
}
.root[data-elem=base-cell] > [data-elem*=component].dark .cell-text {
  color: var(--grey);
}
.root[data-elem=base-cell].header-cell .cell-text {
  font-weight: 400;
  font-size: 0.875rem;
}
.root[data-elem=base-cell].header-cell.light {
  background: var(--light-color2);
}
.root[data-elem=base-cell].header-cell.light .cell-text {
  color: #575f6e;
}
.root[data-elem=base-cell].header-cell.dark {
  background: var(--light-color2);
}
.root[data-elem=base-cell].header-cell.dark .cell-text {
  color: var(--grey);
}
.root[data-elem=base-cell].header-cell.sortable > [data-elem=component2] {
  flex: 0 0 auto;
}
.root[data-elem=base-cell].header-cell.sortable > [data-elem=component2] .cell-text {
  width: auto;
}
.root[data-elem=base-cell].header-cell.sortable > [data-elem=component3] {
  flex: 0 0 auto;
  margin-right: auto;
  overflow: visible;
}
.root[data-elem=base-cell].header-cell.sortable > [data-elem=component3] button.sort {
  height: auto;
  background: transparent;
  padding: 0;
}
.root[data-elem=base-cell].header-cell.sortable > [data-elem=component3] .sort-icon {
  width: 1rem;
  height: 1rem;
}
.root[data-elem=base-cell].header-cell.sortable.sort-default > [data-elem=component3] {
  visibility: hidden;
}
.root[data-elem=base-cell].header-cell.sortable.sort-default > [data-elem=component3] .sort-icon {
  width: 1rem;
  height: 1rem;
}
.root[data-elem=base-cell].header-cell.sortable.sort-asc > [data-elem=component3], .root[data-elem=base-cell].header-cell.sortable.sort-desc > [data-elem=component3] {
  visibility: visible;
}
.root[data-elem=base-cell].header-cell.sortable.sort-asc > [data-elem=component3] .sort-icon, .root[data-elem=base-cell].header-cell.sortable.sort-desc > [data-elem=component3] .sort-icon {
  fill: var(--highlight);
  width: 1rem;
  height: 1rem;
}
.root[data-elem=base-cell].header-cell.sortable:hover > [data-elem=component3] {
  visibility: visible;
}
.root[data-elem=base-cell].body-cell .cell-text.multi-line {
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.75rem;
}
.root[data-elem=base-cell].body-cell.light {
  background: var(--white);
}
.root[data-elem=base-cell].body-cell.light .cell-text {
  color: #1a2028;
}
.root[data-elem=base-cell].body-cell.dark {
  background: var(--white);
}
.root[data-elem=base-cell].body-cell.dark .cell-text {
  color: var(--grey);
}
.root[data-elem=base-cell].sticky-left {
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  position: sticky;
  left: 0;
}
.root[data-elem=base-cell].sticky-right {
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
  position: sticky;
  right: 0;
}/*# sourceMappingURL=TableCell.module.css.map */