@import '../../../../styles/';

.root {
	@include flex(row, space-between, stretch);
	margin-inline: 0.5rem;
	gap: 0.3rem;
	button[data-elem='base-cell'].apply[type='submit'] {
		background-color: $secondary-color2;
		margin-top: auto;
		flex: 1;
	}
	button[data-elem='base-cell'].clear[type='submit'] {
		background-color: $light-color2;
		color: $mono-color1;
		flex: 1;
		&:hover {
			background-color: $light-color1;
		}
	}
}
