@import '../../../styles/_index';

.root {
	@include flex(column, flex-start, stretch);
	background: $light-color3;
	overflow: auto;
	&.no-scroll {
		overflow: hidden;
	}
	.placeholder {
		padding-block: 1.25rem;
	}
}
