@import '../../styles';

.root {
	width: 100%;
	height: 100%;
	background: $grey6;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;

	&.light-theme {
		background-color: $skeleton;
	}

	&.dark-theme {
		background-color: $grey2;
	}

	&.animated {
		&.light-theme {
			background-image: linear-gradient(
				to right,
				$skeleton 0%,
				$grey8 20%,
				$skeleton 40%,
				$skeleton 100%
			);
		}

		&.dark-theme {
			background-image: linear-gradient(
				to right,
				$grey2 0%,
				$grey4 20%,
				$grey2 40%,
				$grey2 100%
			);
		}

		animation-duration: 1.25s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: shimmer;
		animation-timing-function: linear;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: shimmer;
		-webkit-animation-timing-function: linear;
	}

	&.text {
		height: 1.5rem;
	}

	&.circle {
		border-radius: 50%;
	}

	&.rounded {
		border-radius: 0.25rem;
	}

	&.ellipse {
		border-radius: 1.5rem;
	}
}

@keyframes shimmer {
	0% {
		background-position: -50rem 0;
	}

	100% {
		background-position: 50rem 0;
	}
}

@-webkit-keyframes shimmer {
	0% {
		background-position: -50rem 0;
	}

	100% {
		background-position: 50rem 0;
	}
}
