@import '../../../styles';

.container {
	@include flex(row, space-between, center);
	padding: 0rem 1.5625rem;
	.title {
		font-weight: 400;
		font-size: 0.8rem;
		color: $black;
	}
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		stroke: #181818;
		cursor: pointer;
	}
}
