@import '../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	@include debug($grey);
	border-radius: 2.5rem;
	height: 100%;
	width: 100%;

	.header {
		@include flex(row, space-between, flex-start);
		padding: 1.713rem 1.713rem 0 1.713rem;

		.header-title {
			@include flex(row, flex-start);
			gap: 0.5rem;
			.back {
				height: 1.5rem;
				width: 1.5rem;
				[data-elem='component1'] {
					.icon {
						width: 1.5rem;
						height: 1.5rem;
						fill: $white;
					}
				}
			}

			&.no-options {
				flex: 1;
			}

			&.no-title-options {
				.title-container {
					@include flex(column, flex-start, flex-start);
					gap: 0.4rem;
				}
			}

			button.title {
				height: auto;
				background: transparent;
				cursor: pointer;
				border-radius: 0.25rem;
				padding: 0 0.5rem;

				.icon {
					width: 1rem;
					height: 1rem;
					fill: $white;
				}
			}
		}

		.header-options {
			@include flex(column, flex-end, flex-end);
			gap: 0.5rem;

			.header-options-toggle {
				.toggle-body {
					padding: 0.125rem 0.25rem;
					height: 1.75rem;
				}
			}

			.header-options-list {
				@include flex(row, flex-end);
				gap: 0.5rem;
				.dropdown-header {
					height: 1.75rem;

					[data-elem='select'] {
						background-color: transparent;
						width: 100%;
						padding: 0.07rem 0.5rem;
						[data-elem='placeholder'] {
							font-size: 0.875rem;
						}
						> svg {
							width: 0.875rem;
						}
					}
				}

				.expand-button {
					padding: 0 0.25rem;
					height: 1.75rem;
					.expand-icon {
						height: 1.25rem;
						width: 1.25rem;
						fill: $white;
					}
				}
				.date-picker {
					min-width: 0;
					[data-elem='header'] {
						padding: 0.06rem 0.25rem;
						border: 1px solid $grey;
						font-size: 0.875rem;
						> div {
							gap: 0.5rem;
							:nth-child(1) {
								height: 1.25rem;
								width: 1.25rem;
							}
						}
					}
				}
			}
		}
	}

	// div.children {
	// 	padding: 1.713rem 0 0 0;
	// }

	&.dark-theme {
		.header {
			.header-title {
				[data-elem='title'],
				[data-elem='subtitle'] {
					color: $white;
				}

				[data-elem='title-desc'] {
					color: #9a9ea5;
				}

				.title {
					.icon {
						fill: $white;
					}
				}
			}

			.header-options {
				.dropdown-header {
					[data-elem='select'] {
						border-color: $grey;
						[data-elem='placeholder'] {
							color: $white;
						}
						> svg {
							fill: $white;
						}
					}
				}
				.date-picker {
					[data-elem='header'] {
						border-color: $grey;
						:nth-child(1) {
							fill: $white;
						}
					}
				}

				.expand-button {
					color: $white;
					border-color: $grey;
					.expand-icon {
						fill: $white;
					}
				}
			}
		}
	}

	&.light-theme {
		background: #fbfbfb;
		box-shadow: 4px 4px 25px 2px rgba(226, 226, 226, 0.8);
		.header {
			.header-title {
				[data-elem='title'],
				[data-elem='subtitle'] {
					color: #1a2028;
				}
				[data-elem='title-desc'] {
					color: #9a9ea5;
				}

				.title {
					.icon {
						fill: $menu-black;
					}
				}
			}

			.header-options {
				.dropdown-header {
					[data-elem='select'] {
						border-color: $grey6;
						[data-elem='placeholder'] {
							color: $dark-grey;
						}
						> svg {
							fill: $dark-grey;
						}
					}
				}
				.date-picker {
					[data-elem='header'] {
						border-color: $grey6;
						:nth-child(1) {
							fill: $dark-grey;
						}
					}
				}

				.expand-button {
					color: $dark-grey;
					border-color: $grey6;
					.expand-icon {
						fill: $dark-grey;
					}
				}
			}
		}
	}

	.children {
		flex: 1 1;
		position: relative;
		padding: 0.5rem;
	}
}

// .chart {
// 	[data-elem='children'] {
// 		padding: 3rem 0 0 0;
// 	}
// }

.dropdown-popper {
	padding: 0rem;
	background: $grey1;

	.dropdown-item {
		height: 2.25rem;
		color: $white;
		background: $grey;

		&:hover,
		&:focus {
			color: $dark-grey;
			background: $grey2;
			label > svg {
				border: 1px solid $dark-grey;
				border-radius: 0.25rem;
			}
		}
	}
}
