@import '../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	@include debug($grey);
	border-radius: 0.25rem;
	height: 100%;
	width: 100%;

	.header {
		@include flex(row, space-between);
		padding: 0.5rem;

		.header-title {
			@include flex(row, flex-start);
			gap: 0.5rem;
			.back {
				height: 1.5rem;
				width: 1.5rem;
				[data-elem='component1'] {
					.icon {
						width: 1.5rem;
						height: 1.5rem;
						fill: $white;
					}
				}
			}

			&.no-options {
				flex: 1;
			}

			&.no-title-options {
				gap: 1rem;
			}

			button.title {
				height: auto;
				background: transparent;
				cursor: pointer;
				border-radius: 0.25rem;
				padding: 0 0.5rem;

				.icon {
					width: 1rem;
					height: 1rem;
					fill: $white;
				}
			}
		}

		.header-options {
			@include flex(row, flex-end);
			gap: 0.5rem;

			.toggle-body {
				padding: 0.125rem 0.25rem;
				height: 1.75rem;
			}

			.dropdown-header {
				height: 1.75rem;

				[data-elem='select'] {
					background-color: transparent;
					width: 100%;
					padding: 0.07rem 0.5rem;
					[data-elem='placeholder'] {
						font-size: 0.875rem;
					}
					> svg {
						width: 0.875rem;
					}
				}
			}

			.expand-button {
				height: 1.75rem;
				.expand-icon {
					height: 1.25rem;
					width: 1.25rem;
				}
			}
		}
	}

	&.dark-theme {
		.header {
			.header-title {
				[data-elem='title'],
				[data-elem='subtitle'] {
					color: $white;
				}

				.title {
					.icon {
						fill: $white;
					}
				}
			}

			.header-options {
				.dropdown-header {
					[data-elem='select'] {
						border-color: $grey;
						[data-elem='placeholder'] {
							color: $white;
						}
						> svg {
							fill: $white;
						}
					}
				}

				.expand-button {
					color: $white;
					border-color: $grey;
					.expand-icon {
						fill: $white;
					}
				}
			}
		}
	}

	&.light-theme {
		.header {
			.header-title {
				[data-elem='title'],
				[data-elem='subtitle'] {
					color: $dark-grey;
				}

				.title {
					.icon {
						fill: $menu-black;
					}
				}
			}

			.header-options {
				.dropdown-header {
					[data-elem='select'] {
						border-color: $grey6;
						[data-elem='placeholder'] {
							color: $dark-grey;
						}
						> svg {
							fill: $dark-grey;
						}
					}
				}

				.expand-button {
					color: $dark-grey;
					border-color: $grey6;
					.expand-icon {
						fill: $dark-grey;
					}
				}
			}
		}
	}

	.children {
		flex: 1 1;
		position: relative;
		padding: 0.5rem;
	}
}

.dropdown-popper {
	padding: 0rem;
	background: $grey1;

	.dropdown-item {
		height: 2.25rem;
		color: $white;
		background: $grey;

		&:hover,
		&:focus {
			color: $dark-grey;
			background: $grey2;
			label > svg {
				border: 1px solid $dark-grey;
				border-radius: 0.25rem;
			}
		}
	}
}
