.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
.root .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.root .header .header-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.root .header .header-title .back {
  height: 1.5rem;
  width: 1.5rem;
}
.root .header .header-title .back [data-elem=component1] .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}
.root .header .header-title.no-options {
  flex: 1;
}
.root .header .header-title.no-title-options .title-container {
  margin-left: 0.5rem;
}
.root .header .header-title button.title {
  height: auto;
  background: transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}
.root .header .header-title button.title .icon {
  width: 1rem;
  height: 1rem;
  fill: var(--white);
}
.root .header .header-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.root .header .header-options .toggle-body {
  padding: 0.125rem 0.25rem;
  height: 1.75rem;
}
.root .header .header-options .dropdown-header {
  height: 1.75rem;
}
.root .header .header-options .dropdown-header [data-elem=select] {
  background-color: transparent;
  width: 100%;
  padding: 0.07rem 0.5rem;
}
.root .header .header-options .dropdown-header [data-elem=select] [data-elem=placeholder] {
  font-size: 0.875rem;
}
.root .header .header-options .dropdown-header [data-elem=select] > svg {
  width: 0.875rem;
}
.root .header .header-options .expand-button {
  height: 1.75rem;
}
.root .header .header-options .expand-button .expand-icon {
  height: 1.25rem;
  width: 1.25rem;
}
.root.dark-theme .header .header-title [data-elem=title],
.root.dark-theme .header .header-title [data-elem=subtitle] {
  color: var(--white);
}
.root.dark-theme .header .header-title .title .icon {
  fill: var(--white);
}
.root.dark-theme .header .header-options .dropdown-header [data-elem=select] {
  border-color: var(--grey);
}
.root.dark-theme .header .header-options .dropdown-header [data-elem=select] [data-elem=placeholder] {
  color: var(--white);
}
.root.dark-theme .header .header-options .dropdown-header [data-elem=select] > svg {
  fill: var(--white);
}
.root.dark-theme .header .header-options .expand-button {
  color: var(--white);
  border-color: var(--grey);
}
.root.dark-theme .header .header-options .expand-button .expand-icon {
  fill: var(--white);
}
.root.light-theme .header .header-title [data-elem=title],
.root.light-theme .header .header-title [data-elem=subtitle] {
  color: var(--dark-grey);
}
.root.light-theme .header .header-title .title .icon {
  fill: var(--menu-black);
}
.root.light-theme .header .header-options .dropdown-header [data-elem=select] {
  border-color: var(--grey6);
}
.root.light-theme .header .header-options .dropdown-header [data-elem=select] [data-elem=placeholder] {
  color: var(--dark-grey);
}
.root.light-theme .header .header-options .dropdown-header [data-elem=select] > svg {
  fill: var(--dark-grey);
}
.root.light-theme .header .header-options .expand-button {
  color: var(--dark-grey);
  border-color: var(--grey6);
}
.root.light-theme .header .header-options .expand-button .expand-icon {
  fill: var(--dark-grey);
}
.root .children {
  flex: 1 1;
  position: relative;
  padding: 0.5rem;
}

.dropdown-popper {
  padding: 0rem;
  background: var(--grey1);
}
.dropdown-popper .dropdown-item {
  height: 2.25rem;
  color: var(--white);
  background: var(--grey);
}
.dropdown-popper .dropdown-item:hover, .dropdown-popper .dropdown-item:focus {
  color: var(--dark-grey);
  background: var(--grey2);
}
.dropdown-popper .dropdown-item:hover label > svg, .dropdown-popper .dropdown-item:focus label > svg {
  border: 1px solid var(--dark-grey);
  border-radius: 0.25rem;
}/*# sourceMappingURL=BaseWidget.module.css.map */