@import '../../../../../styles';

.root {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	flex-wrap: wrap;
	> div {
		flex-basis: 14.28%;
		@include flex(row, center, center);
		margin-bottom: 0.25rem;
		cursor: pointer;
		align-self: center;
		user-select: none;

		&.minInRange {
			background-color: $primary-color4;
			border-radius: 1.5rem 0rem 0rem 1.5rem;
			.date {
				color: $white;
			}
			&:hover {
				.date {
					background: $primary-color4;
					color: $white;
					@include boxShadow;
				}
			}
			&.today {
				@include flex(column, flex-start, center);
				.date {
					color: $white;
					font-weight: 500;
				}
				.indicator {
					display: none;
				}
			}
			&.today-selected {
				@include flex(column, flex-start, center);
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
		}
		&.maxInRange {
			background-color: $primary-color4;
			border-radius: 0rem 1.5rem 1.5rem 0rem;
			.date {
				color: $white;
			}
			&.today-selected {
				@include flex(column, flex-start, center);
				display: none;
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
			&.today {
				@include flex(column, flex-start, center);
				.date {
					color: $white;
					font-weight: 500;
				}
				.indicator {
					display: none;
				}
			}
			&:hover {
				.date {
					background: $primary-color4;
					color: $white;
					@include boxShadow;
				}
			}
		}
		&.midInRange {
			background: $background-color5;
			border-radius: 0rem;
			.date {
				color: $primary-color4;
			}
			&.today-selected {
				@include flex(column, flex-start, center);
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
		}
		&.midInRangeSelected {
			background: $background-color5;
			border-radius: 0rem;
			.date {
				color: $white;
			}
			&.today-selected {
				@include flex(column, flex-start, center);
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
		}

		&.first-hovered {
			background: $background-color5;
			border-radius: 0rem 1.5rem 1.5rem 0rem;
			.date {
				color: $primary-color4;
			}
			&.today-selected {
				@include flex(column, flex-start, center);
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
		}
		&.last-hovered {
			background: $background-color5;
			border-radius: 1.5rem 0rem 0rem 1.5rem;
			.date {
				color: $primary-color4;
			}

			&.today-selected {
				@include flex(column, flex-start, center);
				.date {
					font-weight: 500;
					color: $white;
				}
				.indicator {
					display: none;
				}
			}
		}

		&.today {
			@include flex(column, flex-start, center);
			.date {
				color: $primary-color4;
				font-weight: 500;
			}
			.indicator {
				margin-top: -0.825rem;
			}
		}

		&.today-selected {
			@include flex(column, flex-start, center);
			.date {
				font-weight: 500;
				color: $white;
			}
			.indicator {
				margin-top: -0.825rem;
				fill: $white;
			}
		}

		.date {
			@include flex(row, center, center);
			text-align: center;
			vertical-align: middle;
			border-radius: 1.5rem;
			height: 2.5rem;
			width: 2.5rem;
			font-weight: 400;
			font-size: 0.875rem;
			color: $text-color;
			&.selected {
				background-color: $secondary-color2;
				color: $white;
			}
			&.unSelected {
				background-color: $white;
				border-color: $primary-color4;
				border-width: 0.125rem;
				border-style: solid;
				color: $black;
			}
			&.disabled {
				border-radius: 1.5rem;
				color: $mono-color2;
				cursor: not-allowed;
			}
			&.diffMonth {
				opacity: 0.6;
			}
		}

		&:hover {
			.date {
				background: $background-color5;
				color: $primary-color4;
				@include boxShadow;
			}
			.selected {
				background-color: $primary-color4;
				color: $white;
			}
			.disabled {
				background: transparent;
				box-shadow: none;
				border-radius: 1.5rem;
				color: $mono-color3;
			}
		}
	}
}
