:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --dark-grey-o-85: rgba(51, 51, 51, 0.85);
  --grey: #737373;
  --grey1: #888888;
  --grey2: #a6a6a6;
  --grey3: #bbbbbb;
  --grey4: #c4c4c4;
  --grey5: #dddddd;
  --grey6: #e8e8e8;
  --grey7: #eeeeee;
  --grey8: #f2f2f2;
  --grey9: #eff0f0;
  --grey10: #f7f7f7;
  --highlight: #0f62fe;
  --dark-blue: #001833;
  --background: #d0e2ff;
  --banyan-blue: #00037c;
  --banyan-orange: #ff892a;
  --banyan-pink: #ff1597;
  --banyan-gradient: linear-gradient(
  	84.71deg,
  	var(--banyan-pink) 0.48%,
  	var(--banyan-orange) 99.57%
  );
  --error: #da1e28;
  --error-bg: #fff1f1;
  --error-outline: rgba(218, 30, 40, 0.08);
  --success: #24a148;
  --success-bg: #defbe6;
  --success-outline: rgba(36, 161, 72, 0.08);
  --warning: #f1c21b;
  --warning-bg: #fff8e1;
  --warning-outline: rgba(203, 160, 6, 0.08);
  --info: #0043ce;
  --info-bg: #edf5ff;
  --info-outline: #2864db98;
}
:export {
  white: var(--white);
  black: var(--black);
  dark-grey: var(--dark-grey);
  dark-grey-o-85: var(--dark-grey-o-85);
  grey: var(--grey);
  grey1: var(--grey1);
  grey2: var(--grey2);
  grey3: var(--grey3);
  grey4: var(--grey4);
  grey5: var(--grey5);
  grey6: var(--grey6);
  grey7: var(--grey7);
  grey8: var(--grey8);
  grey9: var(--grey9);
  grey10: var(--grey10);
  highlight: var(--highlight);
  dark-blue: var(--dark-blue);
  background: var(--background);
  banyan-blue: var(--banyan-blue);
  banyan-orange: var(--banyan-orange);
  banyan-pink: var(--banyan-pink);
  banyan-gradient: var(--banyan-gradient);
  error: var(--error);
  error-bg: var(--error-bg);
  error-outline: var(--error-outline);
  success: var(--success);
  success-bg: var(--success-bg);
  success-outline: var(--success-outline);
  warning: var(--warning);
  warning-bg: var(--warning-bg);
  warning-outline: var(--warning-outline);
  info: var(--info);
  info-bg: var(--info-bg);
  info-outline: var(--info-outline);
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  flex-wrap: wrap;
}
.dates div {
  flex-basis: 14.28%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
  cursor: pointer;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dates div .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--black);
}
.dates div .selected {
  background-color: var(--highlight);
  color: var(--white);
}
.dates div .unSelected {
  background-color: var(--white);
  border-color: var(--highlight);
  border-width: 0.125rem;
  border-style: solid;
  color: var(--black);
}
.dates div .disabled {
  border-radius: 1.5rem;
  color: var(--grey2);
}
.dates div .diffMonth {
  opacity: 0.6;
}
.dates div:hover .date {
  background: var(--background);
  color: var(--highlight);
  box-shadow: -2px -2px 4px rgba(166, 166, 166, 0.25), 2px 2px 4px rgba(166, 166, 166, 0.24);
}
.dates div:hover .selected {
  background-color: var(--highlight);
  color: var(--white);
}
.dates div:hover .disabled {
  background: transparent;
  box-shadow: none;
  border-radius: 1.5rem;
  color: var(--grey2);
}
.dates .minInRange {
  background-color: var(--highlight);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}
.dates .minInRange .date {
  color: var(--white);
}
.dates .minInRange:hover .date {
  background: var(--highlight);
  color: var(--white);
  box-shadow: -2px -2px 4px rgba(166, 166, 166, 0.25), 2px 2px 4px rgba(166, 166, 166, 0.24);
}
.dates .maxInRange {
  background-color: var(--highlight);
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}
.dates .maxInRange .date {
  color: var(--white);
}
.dates .maxInRange:hover .date {
  background: var(--highlight);
  color: var(--white);
  box-shadow: -2px -2px 4px rgba(166, 166, 166, 0.25), 2px 2px 4px rgba(166, 166, 166, 0.24);
}
.dates .midInRange {
  background: var(--background);
  border-radius: 0rem;
}
.dates .midInRange .date {
  color: var(--highlight);
}
.dates .first-hovered {
  background: var(--background);
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}
.dates .first-hovered .date {
  color: var(--highlight);
}
.dates .last-hovered {
  background: var(--background);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}
.dates .last-hovered .date {
  color: var(--highlight);
}/*# sourceMappingURL=Dates.module.css.map */