.root {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  flex-wrap: wrap;
}
.root > div {
  flex-basis: 14.28%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
  cursor: pointer;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.root > div.minInRange {
  background-color: var(--primary-color4);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}
.root > div.minInRange .date {
  color: var(--white);
}
.root > div.minInRange:hover .date {
  background: var(--primary-color4);
  color: var(--white);
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
}
.root > div.minInRange.today {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.minInRange.today .date {
  color: var(--white);
  font-weight: 500;
}
.root > div.minInRange.today .indicator {
  display: none;
}
.root > div.minInRange.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.minInRange.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.minInRange.today-selected .indicator {
  display: none;
}
.root > div.maxInRange {
  background-color: var(--primary-color4);
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}
.root > div.maxInRange .date {
  color: var(--white);
}
.root > div.maxInRange.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.root > div.maxInRange.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.maxInRange.today-selected .indicator {
  display: none;
}
.root > div.maxInRange.today {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.maxInRange.today .date {
  color: var(--white);
  font-weight: 500;
}
.root > div.maxInRange.today .indicator {
  display: none;
}
.root > div.maxInRange:hover .date {
  background: var(--primary-color4);
  color: var(--white);
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
}
.root > div.midInRange {
  background: var(--background-color5);
  border-radius: 0rem;
}
.root > div.midInRange .date {
  color: var(--primary-color4);
}
.root > div.midInRange.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.midInRange.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.midInRange.today-selected .indicator {
  display: none;
}
.root > div.midInRangeSelected {
  background: var(--background-color5);
  border-radius: 0rem;
}
.root > div.midInRangeSelected .date {
  color: var(--white);
}
.root > div.midInRangeSelected.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.midInRangeSelected.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.midInRangeSelected.today-selected .indicator {
  display: none;
}
.root > div.first-hovered {
  background: var(--background-color5);
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}
.root > div.first-hovered .date {
  color: var(--primary-color4);
}
.root > div.first-hovered.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.first-hovered.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.first-hovered.today-selected .indicator {
  display: none;
}
.root > div.last-hovered {
  background: var(--background-color5);
  border-radius: 1.5rem 0rem 0rem 1.5rem;
}
.root > div.last-hovered .date {
  color: var(--primary-color4);
}
.root > div.last-hovered.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.last-hovered.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.last-hovered.today-selected .indicator {
  display: none;
}
.root > div.today {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.today .date {
  color: var(--primary-color4);
  font-weight: 500;
}
.root > div.today .indicator {
  margin-top: -0.825rem;
}
.root > div.today-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.root > div.today-selected .date {
  font-weight: 500;
  color: var(--white);
}
.root > div.today-selected .indicator {
  margin-top: -0.825rem;
  fill: var(--white);
}
.root > div .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--text-color);
}
.root > div .date.selected {
  background-color: var(--secondary-color2);
  color: var(--white);
}
.root > div .date.unSelected {
  background-color: var(--white);
  border-color: var(--primary-color4);
  border-width: 0.125rem;
  border-style: solid;
  color: var(--black);
}
.root > div .date.disabled {
  border-radius: 1.5rem;
  color: var(--mono-color2);
  cursor: not-allowed;
}
.root > div .date.diffMonth {
  opacity: 0.6;
}
.root > div:hover .date {
  background: var(--background-color5);
  color: var(--primary-color4);
  box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
}
.root > div:hover .selected {
  background-color: var(--primary-color4);
  color: var(--white);
}
.root > div:hover .disabled {
  background: transparent;
  box-shadow: none;
  border-radius: 1.5rem;
  color: var(--mono-color3);
}/*# sourceMappingURL=Dates.module.css.map */