@use '../../../styles' as *;
@use '../../../styles/tokens' as tokens;

.root {
	@include flex(column, flex-start, stretch);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 43.75rem;
	max-height: 100%;
	background: tokens.$color-bg-primary;
	box-shadow: tokens.$shadow-scale-lg;
	border-radius: tokens.$radius-md;
	outline: none;
	width: 96%;

	@media (min-width: 768px) {
		width: 72%;
	}

	@media (min-width: 1024px) {
		width: 60%;
		max-width: 84%;
	}

	@media (min-width: 1280px) {
		width: 48%;
		max-width: 62.5rem;
	}

	.body {
		overflow-y: scroll;
		padding: tokens.$spacing-xl;
		@include removeScrollbar;
		color: tokens.$color-text-primary;
	}

	.header,
	.footer {
		padding: tokens.$spacing-xl;
		color: tokens.$color-text-primary;
	}

	.header {
		font-weight: 500;
		font-size: tokens.$font-size-20;
		@include boxShadow(0.1px, 2px);
	}

	.footer {
		margin-top: auto;
		border-radius: 0 0 tokens.$radius-md tokens.$radius-md;
		@include flex(row, flex-end);
		gap: tokens.$spacing-xl;
		button.dismiss[data-elem='base-cell'] {
			@include flex(row, center, stretch);
			color: tokens.$color-text-primary;
			background-color: tokens.$color-bg-secondary;
			border-radius: tokens.$radius-xs;
			outline: 1px solid tokens.$color-bg-secondary !important;
			border: none;
			&:hover {
				background-color: tokens.$color-bg-secondary-hover;
			}
		}
	}

	button.close[data-elem='base-cell'] {
		position: absolute;
		right: tokens.$spacing-xl;
		top: tokens.$spacing-xl;
		padding: tokens.$spacing-xs;
		height: auto;
		background: tokens.$color-bg-primary;

		.icon {
			width: tokens.$spacing-2xl;
			height: tokens.$spacing-2xl;
			fill: tokens.$color-fg-primary;
		}
	}
}
