@import '../../../styles/_index';

.root {
	position: relative;
	// border-style: solid;
	// border-color: $grey4;
	// border-width: 1px 1px 0px 1px;
	border-radius: 0.25rem;
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow: hidden;

	.table {
		height: calc(100% - (6rem));
		padding-bottom: 3.5rem;
	}

	.pagination {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		&.floating {
			bottom: 1rem;
		}
	}

	.chips,
	.filters,
	.table > [data-elem='table-header'] {
		position: sticky;
		z-index: 1;
		top: 0;
	}
}
