@import '../../../styles';

.root {
	@include flex(column, flex-start, flex-start);
	padding: 0.25rem;
	gap: 0.25rem;
	.option[data-elem='base-cell'] {
		background-color: transparent !important;
		width: 100%;
		@include flex(row, flex-start, center);
		> [data-elem='component2'] {
			color: $grey1;
		}
		&:hover {
			background-color: $grey6 !important;
		}
		&.selected {
			background-color: $grey6 !important;
		}
	}
}
