@import '../../../styles/_index';

.root[data-elem='base-cell'] {
	> [data-elem*='component'] {
		overflow: hidden;
	}

	background: $white;
	border-bottom: 1px solid $grey4;
	> [data-elem*='component'] {
		@include flex(row, flex-start);
		flex: 1;
		.cell-text {
			@include ellipsis;
			display: inline-block;
			width: 100%;
			font-size: 0.875rem;
		}
	}

	&.header-cell {
		.cell-text {
			font-weight: 400;
			font-size: 0.875rem;
		}
		&.light {
			background: #f7f7f8;
			.cell-text {
				color: #575F6E;
			}
		}
		&.dark {
			background: #f7f7f8;
			.cell-text {
				color: $grey;
			}
		}

		&.sortable {
			> [data-elem='component2'] {
				flex: 0 0 auto;
				.cell-text {
					width: auto;
				}
			}
			> [data-elem='component3'] {
				flex: 0 0 auto;
				margin-right: auto;
				overflow: visible;

				button.sort {
					height: auto;
					background: transparent;
					padding: 0;
				}

				.sort-icon {
					width: 1rem;
					height: 1rem;
				}
			}

			&.sort-default {
				> [data-elem='component3'] {
					visibility: hidden;

					.sort-icon {
						width: 1rem;
						height: 1rem;
					}
				}
			}

			&.sort-asc,
			&.sort-desc {
				> [data-elem='component3'] {
					visibility: visible;

					.sort-icon {
						fill: $highlight;
						width: 1rem;
						height: 1rem;
					}
				}
			}

			&:hover {
				> [data-elem='component3'] {
					visibility: visible;
				}
			}
		}
	}

	&.body-cell {
		.cell-text {
			&.multi-line {
				white-space: normal;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				font-size: 0.75rem;
			}
		}
	}

	&.sticky-left {
		@include boxShadow;
		position: sticky;
		left: 0;
	}

	&.sticky-right {
		@include boxShadow;
		position: sticky;
		right: 0;
	}
}
