@import '../../../styles/_index';

.root[data-elem='base-cell'] {
	> [data-elem*='component'] {
		overflow: hidden;
	}

	background: $light-color3;
	> [data-elem*='component'] {
		@include flex(row, flex-start);
		flex: 1;
		.cell-text {
			@include ellipsis;
			display: inline-block;
			width: 100%;
			font-size: 1rem;
		}
		.cell-text {
			color: $text-color;
		}
	}

	&.header-cell {
		background: $light-color1;
		.cell-text {
			color: $text-color;
			font-family: Poppins;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.125rem;
		}

		&.sortable {
			> [data-elem='component2'] {
				flex: 0 0 auto;
				.cell-text {
					width: auto;
				}
			}
			> [data-elem='component3'] {
				flex: 0 0 auto;
				margin-right: auto;
				overflow: visible;

				button.sort {
					height: auto;
					background: transparent;
					padding: 0;
				}

				.sort-icon {
					width: 1rem;
					height: 1rem;
				}
			}

			&.sort-default {
				> [data-elem='component3'] {
					visibility: hidden;

					.sort-icon {
						width: 1rem;
						height: 1rem;
					}
				}
			}

			&.sort-asc,
			&.sort-desc {
				> [data-elem='component3'] {
					visibility: visible;

					.sort-icon {
						fill: $secondary-color2;
						width: 1rem;
						height: 1rem;
					}
				}
			}

			&:hover {
				> [data-elem='component3'] {
					visibility: visible;
				}
			}
		}
	}

	&.body-cell {
		.cell-text {
			&.multi-line {
				white-space: normal;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				font-size: 0.9rem;
			}
		}
		background: $light-color3;
		.cell-text {
			color: $text-color;
		}
	}

	&.sticky-left {
		@include boxShadow;
		position: sticky;
		left: 0;
	}

	&.sticky-right {
		@include boxShadow;
		position: sticky;
		right: 0;
	}
}
