@import '../../styles';

.tooltip {
	text-align: center;
	position: fixed;
	border-radius: 0.25rem;
	min-width: auto;
	max-width: 12rem;
	padding: 0.375rem;
	font-size: 0.875rem;
	font-family: sans-serif;
	line-height: 1;

	&.light {
		color: $black;
		background: $grey7;
		border-color: $black;

		.arrow {
			background: $grey7;
		}
	}

	&.dark {
		color: $white;
		background: $black;
		border-color: $white;

		.arrow {
			background: $black;
		}
	}

	.arrow {
		position: absolute;
		width: 1rem;
		height: 1rem;
		z-index: -1;
		pointer-events: none;
		transform: rotate(45deg);
	}
}
