@import '../../../../styles/';

.root {
	@include flex(column, flex-start, flex-start);
	gap: 0rem;
	.title-container {
		align-self: stretch;
		@include flex(row, space-between, center);
		padding: 0rem 0rem;
		padding-bottom: 0rem;
		margin-left: calc(-2rem + 1px);
		margin-right: calc(-2rem + 1px);
		width: calc(100% + 4rem - 2px);
		.title {
			font-weight: 500;
			font-size: 0.875rem;
			color: $text-color;
			line-height: 1.3125rem;
		}
		.icon {
			width: 1.5rem;
			height: 1.5rem;
			stroke: $text-color;
			stroke-width: 0.5px;
			cursor: pointer;
		}
	}
	.date-time-switch {
		width: 100%;
	}
}
