@import '../../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	overflow: hidden;
	border-radius: 2.5rem;
	height: 100%;
	width: 100%;
	position: relative;
	background: #fbfbfb;
	box-shadow: 4px 4px 25px 2px rgba(226, 226, 226, 0.8);

	.header {
		@include flex(row, space-between, flex-start);
		padding: 1.713rem 1.713rem 0.25rem 1.713rem;

		.header-title {
			@include flex(row, flex-start);
			gap: 0.5rem;
			.title-container {
				.title-primary {
					@include flex(row, flex-start);
					gap: 1.25rem;
					[data-elem='title'] {
						font-size: 16px;
						font-weight: 600;
						line-height: 24px;
						text-align: left;
						color: #1a2028;
					}
					.toggle-body {
						padding: 0rem 0.25rem;
						height: 2.8rem;
						width: auto;
						background: none !important;
						[data-elem='base-cell'] {
							[data-elem='component2'] {
								[data-elem='title'] {
									font-size: 0.875rem;
									text-align: center;
								}
							}
						}
					}
				}
			}
			[data-elem='title-desc'] {
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				text-align: left;
				color: $text-color;
			}
			.back {
				height: 1.5rem;
				width: 1.5rem;
				[data-elem='component1'] {
					.icon {
						width: 1.5rem;
						height: 1.5rem;
						fill: $white;
					}
				}
			}

			&.no-options {
				flex: 1;
			}

			&.no-title-options {
				.title-container {
					@include flex(column, flex-start, flex-start);
					gap: 0.4rem;
				}
			}

			button.title {
				height: auto;
				background: transparent;
				cursor: pointer;
				border-radius: 0.25rem;
				padding: 0 0.5rem;

				.icon {
					width: 1rem;
					height: 1rem;
					fill: $menu-black;
				}
			}
		}

		.header-options {
			@include flex(column, flex-end, flex-end);
			&.toggle {
				gap: 0.5rem;
			}

			.header-options-list {
				@include flex(row, flex-end);
				gap: 0.5rem;
				height: 2.4rem;
				.dropdown-header {
					border-radius: 0.25rem;
					background-color: transparent !important;
					box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
					height: auto;
					width: fit-content;
					cursor: pointer;
					> [data-elem='header'] {
						box-shadow: none !important;
						[data-elem='select'] {
							padding: 0.4375rem 0.5rem !important;
							width: fit-content;
							border: none !important;
							> svg {
								width: 1.5rem;
								aspect-ratio: 1;
							}
							> [data-elem='value'] {
								max-width: 12.5rem;
								@include ellipsis;
							}
						}
					}
				}

				.expand-button {
					padding: 0 0.25rem;
					height: 1.75rem;
					color: $dark-grey;
					border-color: $grey6;
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.3125rem;
					text-align: left;
					.expand-icon {
						height: 0.8331rem;
						width: 0.8331rem;
						fill: $dark-grey;
					}
				}

				button.filter-button[data-elem='base-cell'] {
					border-radius: 0.25rem;
					border: none !important;
					height: 2.4rem;
					background-color: transparent !important;
					box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
					width: fit-content;
					@include flex(row, flex-start);
					> [data-elem='component2'] {
						> [data-elem='title'] {
							color: $text-color;
							font-size: 1rem;
						}
					}
					> [data-elem='component1'] {
						> svg {
							width: 1.5rem;
							height: 1.5rem;
							fill: $secondary-color2;
						}
					}
				}

				.toggle-body {
					padding: 0rem 0.25rem;
				}

				.date-picker {
					min-width: 12rem;
					[data-elem='header'] {
						height: 2.4rem;
						> div {
							gap: 0.5rem;
						}
						span[class*='placeholder'] {
							font-size: 1rem;
							color: $text-color;
						}
						span[class*='value'] {
							font-size: 1rem;
						}
					}
				}
			}
		}
	}

	.drawer {
		width: 40%;
		height: inherit;
		border-radius: 2.5rem;
		box-shadow: none !important;
	}

	.overlay {
		background: rgba(0, 0, 0, 0.16);
		backdrop-filter: blur(5px);
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 3;
	}

	// div.children {
	// 	padding: 1.713rem 0 0 0;
	// }

	.children {
		flex: 1 1;
		position: relative;
		padding: 0.5rem;
	}
}
