.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root:focus {
  outline: none;
}
.root.header-row > th[data-elem=base-cell] {
  background: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-border-tertiary);
}
.root.header-row > th[data-elem=base-cell] > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-quanternary);
}
.root.header-row > th[data-elem=base-cell]:hover {
  background: var(--color-bg-secondary-hover) !important;
}
.root.header-row > th[data-elem=base-cell]:hover > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-tertiary);
}
.root.header-row > [data-elem=base-cell].expandable-cell {
  background: transparent;
}
.root.header-row > [data-elem=base-cell].expandable-cell > [data-elem=component2] {
  width: 48px;
  visibility: hidden;
}
.root.body-row {
  background: var(--color-bg-primary);
}
.root.body-row:not([data-disabled=true]):hover > td[data-elem=base-cell] {
  background: var(--color-bg-primary-hover) !important;
  border-color: var(--color-border-tertiary) !important;
}
.root.body-row:not([data-disabled=true]):hover > td[data-elem=base-cell] > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-primary) !important;
}
.root.body-row > td[data-elem=base-cell]:hover {
  background: var(--color-bg-primary-hover) !important;
  border-color: var(--color-border-tertiary) !important;
}
.root.body-row > td[data-elem=base-cell]:hover > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-primary);
}
.root.body-row[data-disabled=true] > td[data-elem=base-cell]:hover > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-disabled) !important;
}
.root.body-row[data-active=true] > [data-elem=base-cell] {
  background: var(--color-bg-tertiary);
}
.root.body-row[data-active=true] > [data-elem=base-cell] > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-primary) !important;
}
.root.body-row > td[data-elem=base-cell]:focus-visible {
  outline: 1px solid var(--color-border-brand) !important;
  outline-offset: -1px;
  background: var(--color-bg-primary) !important;
}
.root > [data-elem=base-cell]:first-child {
  padding-left: 16px;
}
.root > [data-elem=base-cell]:last-child {
  padding-right: 16px;
}
.root.row-height-sm {
  --table-row-height: 32px;
}
.root.row-height-md {
  --table-row-height: 40px;
}
.root.row-height-lg {
  --table-row-height: 48px;
}
.root.row-height-lg.header-row > th[data-elem=base-cell] {
  border-right: 0;
}
.root > [data-elem=base-cell].expandable-cell {
  padding-left: 16px;
  padding-right: 16px;
  overflow: visible;
}
.root > [data-elem=base-cell].expandable-cell > [data-elem=component2] {
  overflow: visible;
}
.root > [data-elem=base-cell].expandable-cell > [data-elem=component2] > [data-elem=text] {
  overflow: visible;
}
.root button.button[data-elem=base-cell] .icon {
  width: 24px;
  height: 24px;
}
.root button.button[data-elem=base-cell]:disabled {
  cursor: default;
}
.root button.button[data-elem=base-cell]:disabled .icon {
  visibility: hidden;
}
.root .expanded .button .icon {
  transform: rotate(180deg);
}
.root .disabled {
  cursor: not-allowed;
}
.root td label,
.root th label {
  background: transparent !important;
}
.root input[type=checkbox]:focus {
  outline: none;
}
.root.body-row[data-selected=true] > td[data-elem=base-cell] {
  background: var(--color-bg-tertiary) !important;
  border-color: var(--color-border-tertiary) !important;
}
.root.body-row[data-selected=true] > td[data-elem=base-cell] > [data-elem=component2] > [data-elem=text] {
  color: var(--color-text-primary) !important;
}
.root.body-row[data-selected=true]:hover > td[data-elem=base-cell], .root.body-row[data-selected=true]:focus-within > td[data-elem=base-cell] {
  background: var(--color-bg-quenternary) !important;
}
.root[data-disabled=true] {
  background: var(--color-bg-primary);
}
.root {
  /* body cell background */
}
.root[data-disabled=true] td {
  background: var(--color-bg-primary) !important;
}
.root {
  /* text color */
}
.root[data-disabled=true] [data-elem=text] {
  color: var(--color-text-disabled) !important;
}
.root {
  /* icons */
}
.root[data-disabled=true] svg path {
  stroke: var(--color-fg-disabled) !important;
  fill: var(--color-fg-disabled) !important;
}
.root {
  /* disable pointer interaction */
}
.root[data-disabled=true] {
  pointer-events: none;
}
.root .disabled .cell-text {
  color: var(--color-text-disabled) !important;
}
.root .disabled:hover .cell-text {
  color: var(--color-text-disabled) !important;
}/*# sourceMappingURL=TableRow.module.css.map */