@use '../../../../styles/tokens' as tokens;
@import '../../../../styles';

.root {
	@include flex(row, flex-start);

	&:focus {
		outline: none;
	}

	&.header-row {
		> th[data-elem='base-cell'] {
			background: tokens.$color-bg-secondary;
			border-bottom: 1px solid tokens.$color-border-tertiary;

			> [data-elem='component2'] {
				> [data-elem='text'] {
					color: tokens.$color-text-quanternary;
				}
			}
		}

		> th[data-elem='base-cell']:hover {
			background: tokens.$color-bg-secondary-hover !important;

			> [data-elem='component2'] {
				> [data-elem='text'] {
					color: tokens.$color-text-tertiary-onhover;
				}
			}
		}

		> [data-elem='base-cell'].expandable-cell {
			background: transparent;
			> [data-elem='component2'] {
				width: 48px;
				visibility: hidden;
			}
		}
	}

	&.body-row {
		background: tokens.$color-bg-primary;

		&:not([data-disabled='true']):hover {
			> td[data-elem='base-cell'] {
				background: tokens.$color-bg-primary-hover !important;
				border-color: tokens.$color-border-tertiary !important;

				> [data-elem='component2'] > [data-elem='text'] {
					color: tokens.$color-text-primary !important;
				}
			}
		}

		> td[data-elem='base-cell']:hover {
			background: tokens.$color-bg-primary-hover !important;
			border-color: tokens.$color-border-tertiary !important;
			> [data-elem='component2'] {
				> [data-elem='text'] {
					color: tokens.$color-text-primary;
				}
			}
		}
		&[data-disabled='true'] > td[data-elem='base-cell']:hover {
			> [data-elem='component2'] {
				> [data-elem='text'] {
					color: tokens.$color-text-disabled !important;
				}
			}
		}

		&[data-active='true'] {
			> [data-elem='base-cell'] {
				background: tokens.$color-bg-tertiary;
				> [data-elem='component2'] {
					> [data-elem='text'] {
						color: tokens.$color-text-primary !important;
					}
				}
			}
		}

		> td[data-elem='base-cell']:focus-visible {
			outline: 1.5px solid tokens.$color-border-brand !important;
			outline-offset: 2px;
			border-radius: 2px;
			background: tokens.$color-bg-primary !important;
		}
	}

	> [data-elem='base-cell'] {
		&:first-child {
			padding-left: 24px;
		}
		&:last-child {
			padding-right: 24px;
		}
	}

	&.row-height-md {
		> td[data-elem='base-cell'] {
			min-height: 40px;
		}
	}

	&.row-height-lg {
		> td[data-elem='base-cell'] {
			min-height: 73px;
		}
	}

	> [data-elem='base-cell'].expandable-cell {
		padding-left: 14.4px;
		padding-right: 1.6px;
		overflow: visible;
		> [data-elem='component2'] {
			overflow: visible;
			> [data-elem='text'] {
				overflow: visible;
			}
		}
	}

	button.button[data-elem='base-cell'] {
		.icon {
			width: 24px;
			height: 24px;
		}

		&:disabled {
			cursor: default;
			.icon {
				visibility: hidden;
			}
		}
	}

	.expanded {
		.button {
			.icon {
				transform: rotate(180deg);
			}
		}
	}

	.disabled {
		cursor: not-allowed;
		opacity: 0.4;
	}

	td label,
	th label {
		background: transparent !important;
	}

	input[type='checkbox']:focus {
		outline: none;
	}
	&.body-row[data-selected='true'] {
		> td[data-elem='base-cell'] {
			background: tokens.$color-bg-tertiary !important;
			border-color: tokens.$color-border-tertiary !important;
			> [data-elem='component2'] {
				> [data-elem='text'] {
					color: tokens.$color-text-primary !important;
				}
			}
		}
	}
	.root[data-disabled='true'] {
		background: tokens.$color-bg-disabled-subtle;
	}

	/* body cell background */
	.root[data-disabled='true'] td {
		background: tokens.$color-bg-disabled-subtle !important;
	}

	/* text color */
	.root[data-disabled='true'] .cell-text {
		color: tokens.$color-text-disabled !important;
	}

	/* icons */
	.root[data-disabled='true'] svg path {
		stroke: tokens.$color-fg-disabled !important;
		fill: tokens.$color-fg-disabled !important;
	}

	/* disable pointer interaction */
	.root[data-disabled='true'] {
		pointer-events: none;
	}
	.disabled .cell-text {
		color: tokens.$color-text-disabled !important;
	}

	.disabled:hover .cell-text {
		color: tokens.$color-text-disabled !important;
	}
}
