@import '../../styles/index';

.root {
	@include flex(column, center, flex-start);
	width: 100%;
	background-color: transparent;
	gap: 1rem;
	&.compact {
		@include flex(row, space-between, flex-start);
	}
	&.dark-theme {
		color: $white;

		.breadcrumb {
			[data-elem='breadcrumb-item-active'] {
				color: $white;
			}
		}
	}
	&.light-theme {
		color: $dark-grey;
	}

	.contents {
		@include flex(row, flex-end, center);
		margin-left: auto;
		gap: 0.75rem;
		&.start-left {
			@include flex(row, flex-start, center);
			margin-left: unset;
		}
		.right {
			@include flex(row, flex-start, center);
			gap: 0.75rem;
			flex-wrap: wrap;
		}
	}
}

//styles for stories
.download,
.calender {
	width: 1.5rem;
	height: 1.5rem;
}
