@import '../../styles/index';

.root {
	@include flex(row, space-between, flex-start);
	align-items: center;
	width: 100%;
	background-color: transparent;
	gap: 1rem;
	color: $text-color;
	.breadcrumb {
		[data-elem='breadcrumb-item-active'] {
			color: $text-color;
		}
	}

	.contents {
		@include flex(row, flex-end, center);
		margin-left: auto;
		gap: 0.75rem;
		.right {
			@include flex(row, flex-start, center);
			gap: 0.75rem;
			flex-wrap: wrap;
		}
	}
}

//styles for stories
.download,
.calender {
	width: 1.5rem;
	height: 1.5rem;
}
