@import '../../styles/_index';

div.root {
	@include flex(row, flex-start);
	overflow: auto;
	gap: 0.25rem;
	padding: 0.25rem;
	background: $grey8;
	width: fit-content;
	border-radius: 0.4rem 0.4rem;
	box-shadow: inset 0px 1px 2px rgba(97, 97, 97, 0.2), inset 0px 2px 4px rgba(97, 97, 97, 0.2);
	&.theme-dark {
		background: $grey;

		[data-elem='base-cell'].toggle-button {
			color: $grey4;

			&.active {
				background: $dark-grey;
				color: $white;
			}
		}
	}

	&.theme-light {
		color: $dark-grey;
	}
	[data-elem='base-cell'].toggle-button {
		color: $grey;
		padding: 0.344rem 0.75rem;
		height: 2rem;
		background: transparent;

		&.active {
			@include boxShadow;
			background: $white;
			border-radius: 0.25rem;
			color: $dark-grey;
		}
	}

	.input {
		display: none;
	}
}
