@import '../../styles/_index';

.tabs-container {
	width: fit-content;
	background: $grey8;
	border: 1px solid var(--mono-colours-202, #b7cadb);
	border-radius: 0.4375rem;
	background: transparent;
	font-weight: 500;
	padding: 0.3125rem;

	.tabs {
		@include flex(row, flex-start);
		position: relative;
		gap: 0.3375rem;

		> [data-elem='base-cell'] {
			height: 26px;
			padding: 5px !important;
			position: relative;
			z-index: 2;
			color: $black !important;

			> [data-elem='component1'],
			> [data-elem='component3'] {
				> svg {
					padding-top: 3px;
					width: 2.2rem;
					height: 2.2rem;
				}
			}
			&.active {
				background: var(--mono-colours-201, #71839b);
			}
			&:hover {
				background: var(--mono-colours-202, #b7cadb);
				border-radius: 0.3375rem;
			}
		}

		.tab {
			> [data-elem='base-cell'] {
				height: 26px;
				padding: 5px !important;
				position: relative;
				z-index: 2;
				color: $black !important;

				> [data-elem='component1'],
				> [data-elem='component3'] {
					> svg {
						padding-top: 3px;
						width: 2.2rem;
						height: 2.2rem;
					}
				}
				&.active {
					color: $white !important;
				}
			}

			&.dark-theme {
				> [data-elem='base-cell'] {
					color: $white !important;
				}
			}

			&:hover {
				background: var(--mono-colours-202, #b7cadb);
				border-radius: 0.3375rem;
			}

			&.dark-theme:hover {
				background: $grey;
			}

			&.disabled {
				cursor: not-allowed;
				color: var(--disabled-color);
			}

			&.selected {
				background: var(--mono-colours-201, #71839b);
				font-weight: 500;
				color: var(--light-colours-203, #fff);
				border-radius: 0.4375rem;
			}

			&.selected.dark-theme {
				background: $dark-grey;
				border: 0.5px solid rgba(255, 255, 255, 0.423);
			}
		}

		.tab-slider {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			border-radius: 0.3125rem;
			font-weight: 500;
			background: var(--mono-colours-201, #71839b);
			transition: left 0.3s ease-in-out, width 0.3s ease-in-out;

			&.dark-theme {
				background: $dark-grey;
				border: 1px solid rgba(255, 255, 255, 0.423);
			}
		}
	}

	&.dark-theme {
		background-color: $black;
		border: 1px solid $grey;
	}
}
