@import '../../../styles/index';

.root {
	width: 100%;
	contain-intrinsic-height: 90%;
	font-family: Poppins !important;
	> canvas {
		width: fit-content !important;
	}
}

.legend {
	@include flex(row, center, center);
	gap: 0.625rem;
}
