.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.root .date-picker {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  max-width: 100%;
  min-width: 20rem;
  overflow: visible;
}
.root .date-picker .label {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--text-color);
}
.root .date-picker .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 0.3125rem;
  width: auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.root .date-picker .container.with-custom {
  border-radius: 0 0.25rem 0.25rem 0;
}
.root .date-picker .container.disabled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: var(--grey10);
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--grey5);
  padding: 0.75rem 1rem;
  cursor: not-allowed;
}
.root .date-picker .container.disabled .down-arrow {
  transform: rotate(270deg);
  fill: var(--grey3);
}
.root .date-picker .container.disabled .placeholder {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.root .date-picker .container.open {
  outline: 1px solid var(--secondary-color2);
  transition: outline 100ms ease-in-out;
}
.root .date-picker .container.error {
  outline: 0.0625rem solid var(--primary-color1);
}
.root .date-picker .container .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  overflow: hidden;
}
.root .date-picker .container .left .icon {
  flex: 1 0 auto;
}
.root .date-picker .container .left > div {
  font-weight: 400;
  font-size: 1rem;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.root .date-picker .container .left > div .placeholder {
  font-weight: 500;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.root .date-picker .container .left > div > span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}
.root .date-picker .container .input {
  display: none;
}
.root .date-picker .container .close {
  height: auto;
  padding: 0;
}
.root .date-picker .container .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.root .date-picker .container .icon > path {
  fill: var(--text-color);
}
.root .date-picker .container .icon.open {
  transform: rotate(0deg);
}
.root .date-picker .container {
  border-color: var(--grey);
}
.root .date-picker .container .placeholder {
  color: var(--grey2);
  font-weight: 500;
}
.root .date-picker .container .value {
  color: var(--grey2);
  font-weight: 500;
  margin-right: 0.625rem;
}
.root .date-picker .container.highlight .value {
  color: var(--text-color);
}
.root .date-picker .container.highlight .icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.root .date-picker .container.highlight .icon > path {
  fill: var(--text-color);
}
.root .date-picker .container.highlight .icon.open {
  transform: rotate(0deg);
}
.root .date-picker .container.highlightOnSelect {
  background-color: var(--background-color5);
}
.root .date-picker .container.highlightOnSelect .value {
  color: var(--secondary-color2);
}
.root .date-picker .container.highlightOnSelect svg {
  fill: var(--secondary-color2);
}
.root .date-picker .container.highlightOnSelect svg > path {
  fill: var(--secondary-color2) !important;
}
.root .date-picker .error-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--primary-color1);
}

div.modal {
  border-radius: 0.25rem;
  width: 51rem;
}
div.modal.bottom-remove {
  height: 35rem;
}
div.modal .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.modal .header .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
div.modal .header .left .title {
  font-weight: 500;
  font-size: 1.25rem;
}
div.modal .header .left .desc {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.875rem;
}
div.modal .header .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2.6875rem;
  gap: 1.25rem;
}
div.modal .header .right [data-elem=select] {
  width: 6.375rem;
  height: 2.6875rem;
  font-weight: 400;
  font-size: 0.875rem;
}
div.modal .header .right [data-elem=select] [data-elem=placeholder] {
  font-weight: 400;
  font-size: 0.875rem;
}
div.modal .header .right [data-elem=select] > div > svg {
  width: 1.25rem;
}
div.modal .header .right .dropdown [data-elem=select] {
  width: -moz-fit-content;
  width: fit-content;
}
div.modal [data-elem=body] {
  height: 100%;
  padding: 0%;
}
div.modal [data-elem=body] .body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
div.modal [data-elem=body] .body .top {
  padding: 0rem 1rem;
  flex: 7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.modal [data-elem=body] .body .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d5d5db;
  flex: 3;
}
div.modal [data-elem=body] .body .bottom.bottom-remove {
  flex: 0;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection .dropdown [data-elem=select] {
  display: flex;
  flex-direction: "row";
  justify-content: "";
  align-items: center;
  width: 13.5625rem;
  height: 2.6875rem;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection .dropdown [data-elem=select] [data-elem=placeholder] {
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection .dropdown [data-elem=select] > div {
  margin-left: auto;
  margin-right: 0;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection .dropdown [data-elem=select] > svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0rem;
}
div.modal [data-elem=body] .body .bottom .dropdown-selection .dropdown [data-elem=select] > svg path {
  stroke: var(--text-color);
}
div.modal [data-elem=body] .body .bottom .fixed-selection {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
div.modal [data-elem=body] .body .bottom .fixed-selection button.custom[data-elem=base-cell] {
  height: 2.125rem;
  width: 4.75rem;
  background-color: transparent;
  color: var(--secondary-color2);
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
div.modal [data-elem=body] .body .bottom .fixed-selection button.custom[data-elem=base-cell].selected[data-elem=base-cell] {
  background-color: var(--secondary-color2);
  color: var(--white);
}
div.modal [data-elem=footer] {
  border-top: 1px solid #d5d5db;
}
div.modal [data-elem=footer] div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 1rem;
}
div.modal [data-elem=footer] div.footer .left {
  flex: 1;
}
div.modal [data-elem=footer] div.footer .left > div > label [data-elem=base-cell] [data-elem=component2] [data-elem=input] {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}
div.modal [data-elem=footer] div.footer .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 2.6875rem;
  gap: 1.25rem;
  flex: 1;
}
div.modal [data-elem=footer] div.footer .right button.cancel[data-elem=base-cell] {
  background-color: transparent;
  color: var(--grey);
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
div.modal [data-elem=footer] div.footer .right button.confirm[data-elem=base-cell] {
  background-color: var(--secondary-color2) !important;
}

.dropdown-item {
  font-weight: 400;
  font-size: 0.875rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0%;
}
.dropdown-item.selected {
  color: var(--primary-color4);
}/*# sourceMappingURL=DatePicker.module.css.map */