@import '../../../../../styles/';

div.root {
	height: 100%;
	& > [data-elem='header'] {
		height: 100%;
		& > [data-elem='select'] {
			border: none;
			width: fit-content;
			height: 100%;
			padding: 0;
			background: transparent;
			// background: $info-bg;
			// border-color: $info;
			// border-radius: 1.563rem;

			& > [data-elem='placeholder'] {
				display: none;
				font-size: 0.875rem;
			}
		}
	}
}

ul.popper {
	height: 20rem;
	max-height: fit-content;
	padding: 1rem 1rem 0rem;
	> button {
		&:last-child {
			width: auto;
			position: sticky;
			bottom: 0rem;
		}
	}

	& > [data-elem='dropdown-item'] {
		font-size: 0.875rem;
		padding: 0.5rem;
	}
}
