@import '../../styles/_index';

.root {
	@include flex(row, space-between, flex-start);
	padding: 1rem;
	width: 100%;
	opacity: 1;
	background-color: $light-color3;
	border-radius: 0.25rem;

	.left {
		@include flex(row, flex-start, flex-start);
		.icon-container {
			padding: 0.5rem;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 0.625rem;
			background: $light-color3;
			box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.271);
			transition: box-shadow 0.5s ease-in-out;

			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		.content {
			@include flex(column, flex-start, flex-start);
			gap: 0.25rem;
			margin-left: 1.25rem;
			.title {
				color: $text-color;
				font-size: 0.875rem;
				font-weight: 600;
			}
			.description {
				word-wrap: break-word;
				height: auto;
				color: $text-color;
				font-size: 0.875rem;
				font-weight: 400;
			}
		}
	}

	&.info {
		box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
		.icon-container {
			box-shadow: 0rem 0rem 0.4rem 0rem $secondary-color2;
		}
	}
	&.success {
		box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
		.icon-container {
			box-shadow: 0rem 0rem 0.4rem 0rem $primary-color2;
		}
	}
	&.danger,
	&.error {
		box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
		.icon-container {
			box-shadow: 0rem 0rem 0.4rem 0rem $primary-color1;
		}
	}
	&.warning {
		box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
		.icon-container {
			box-shadow: 0rem 0rem 0.4rem 0rem $primary-color3;
		}
	}

	&.shadow {
		box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25),
			0rem 0.1875rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
	}
}
