@import '../../../styles/_index';

.root {
	padding: 0.25rem 0px;
	height: fit-content;
	max-height: 30rem;
	background: $light-color3;
	border-radius: 0.25rem;

	&.sm {
		width: 21.25rem;
	}

	&.md {
		width: 35rem;
	}
	> [data-elem='footer'] {
		border: none;
		@include flex(row, center, center);
	}

	.footer {
		width: 100%;
		@include flex(row);
		gap: 1rem;
		.cancel[data-elem='base-cell'] {
			width: 45%;
			@include flex(row, center, stretch);
			background: $mono-color2;
			outline: none;
			border-radius: 0.25rem;
			border: none;
		}
		.save[data-elem='base-cell'] {
			width: 45%;
			@include flex(row, center, stretch);
			color: $white;
			border-radius: 0.25rem;
			border: none;
			background: $secondary-color2;
			outline: none;
		}
	}
	.description {
		font-size: 1.4rem;
		padding-left: 1.2rem;
		font-weight: 600;
		height: fit-content;
		color: $text-color;
		text-align: center;
	}
}
