.slider-container {
	.slider {
		width: 100%;
		height: 0.5rem;
		border-radius: 0.3125rem;
		background: rgb(200, 196, 196);
		outline: none;
		opacity: 0.7;

		&::-webkit-slider-thumb {
			appearance: none;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			background: #0f62fe;
			cursor: pointer;
		}
	}
	.label-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 10px;
		font-size: 14px;
		color: #333;
	}
}
