@import '../../../styles/index';

.slider-container {
	position: relative;

	.slider {
		width: 300px;
		cursor: pointer;

		&:disabled {
			cursor: not-allowed;

			&::-webkit-slider-thumb {
				cursor: not-allowed;
			}
		}

		&:disabled ~ .tooltip {
			opacity: 0;
		}
	}
	.tooltip {
		position: absolute;
		margin-left: 7%;
		top: -30px;
		transform: translateX(-50%);
		background-color: #0040ff;
		color: $white;
		padding: 2px 5px;
		border-radius: 4px;
		font-size: 12px;
		font-weight: 600;
		opacity: 1;
	}
	.label {
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 1.125rem;
		letter-spacing: 0.32px;
		color: $grey;
		margin-bottom: 0.3rem;
	}
	.minMaxContainer {
		display: flex;
		width: 300px;
		justify-content: space-between;
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 1.125rem;
		letter-spacing: 0.32px;
		color: $grey;
	}
	.min{
		margin-left: 0.1rem;
	}

	.max {
		margin-left: auto;
	}
}
