button.root[data-elem=base-cell] {
  transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), border-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), box-shadow 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
button.root[data-elem=base-cell] [data-elem=title] {
  font-family: Jakarta, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
button.root[data-elem=base-cell].size-xs {
  height: 32px;
  padding: 0 12px;
  gap: 4px;
  border-radius: 6px;
}
button.root[data-elem=base-cell].size-sm {
  height: 36px;
  padding: 0 14px;
  gap: 4px;
  border-radius: 6px;
}
button.root[data-elem=base-cell].size-md {
  height: 40px;
  padding: 0 16px;
  gap: 6px;
  border-radius: 6px;
}
button.root[data-elem=base-cell].size-lg {
  height: 44px;
  padding: 0 18px;
  gap: 6px;
  border-radius: 6px;
}
button.root[data-elem=base-cell].primary {
  background: #1570ef;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
button.root[data-elem=base-cell].primary:hover:not(:disabled) {
  background: #175cd3;
  box-shadow: 0 2px 5px 0 rgba(46, 144, 250, 0.08), 0 0 0 1px rgba(46, 144, 250, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].primary:active:not(:disabled) {
  background: #1849a9;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].primary:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1570ef;
}
button.root[data-elem=base-cell].secondary {
  background: #252b37;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
button.root[data-elem=base-cell].secondary:hover:not(:disabled) {
  background: #414651;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].secondary:active:not(:disabled) {
  background: #181d27;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].secondary:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #a4a7ae;
}
button.root[data-elem=base-cell].soft {
  background: #fafafa;
  color: #414651;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
button.root[data-elem=base-cell].soft:not(:disabled) svg {
  color: #414651;
}
button.root[data-elem=base-cell].soft:hover:not(:disabled) {
  background: #f5f5f5;
  color: #252b37;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].soft:active:not(:disabled) {
  background: #f5f5f5;
  color: #252b37;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].soft:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #a4a7ae;
}
button.root[data-elem=base-cell].outline {
  background: transparent;
  color: #414651;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
button.root[data-elem=base-cell].outline:hover:not(:disabled) {
  background: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].outline:active:not(:disabled) {
  background: #f5f5f5;
  box-shadow: 0 0 0 1px #d5d7da;
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].outline:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #535862;
}
button.root[data-elem=base-cell].ghost {
  background: transparent;
  color: #414651;
  box-shadow: none;
}
button.root[data-elem=base-cell].ghost:hover:not(:disabled) {
  background: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].ghost:active:not(:disabled) {
  background: #f5f5f5;
  box-shadow: none;
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].ghost:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #a4a7ae;
}
button.root[data-elem=base-cell].critical {
  background: #d92d20;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
button.root[data-elem=base-cell].critical:hover:not(:disabled) {
  background: #b42318;
  box-shadow: 0 2px 5px 0 rgba(217, 45, 32, 0.08), 0 0 0 1px rgba(217, 45, 32, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0.2, 0, 1, 0.9);
}
button.root[data-elem=base-cell].critical:active:not(:disabled) {
  background: #912018;
  box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(103, 110, 118, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
button.root[data-elem=base-cell].critical:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #f04438;
}
button.root[data-elem=base-cell].icon-only {
  padding: 0 !important;
  aspect-ratio: 1/1;
}
button.root[data-elem=base-cell].icon-only.size-xs {
  width: 32px;
  height: 32px;
}
button.root[data-elem=base-cell].icon-only.size-sm {
  width: 40px;
  height: 40px;
}
button.root[data-elem=base-cell].icon-only.size-md {
  width: 44px;
  height: 44px;
}
button.root[data-elem=base-cell].icon-only.size-lg {
  width: 52px;
  height: 52px;
}
button.root[data-elem=base-cell]:disabled {
  transition: background-color 150ms cubic-bezier(0.2, 0, 0.38, 0.9), color 150ms cubic-bezier(0.2, 0, 0.38, 0.9), opacity 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
  background: #f5f5f5;
  color: #a4a7ae;
  cursor: not-allowed;
  box-shadow: none;
}
button.root[data-elem=base-cell]:disabled [data-elem=title],
button.root[data-elem=base-cell]:disabled svg {
  opacity: 0.6;
}
@media (prefers-reduced-motion: reduce) {
  button.root[data-elem=base-cell] {
    transition: none !important;
  }
}
button.root[data-elem=base-cell].unstyled {
  all: unset !important;
  display: inline-flex !important;
  align-items: center !important;
  cursor: pointer !important;
  background: transparent !important;
  padding: 4px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  height: auto !important;
  width: auto !important;
  min-width: unset !important;
  font: inherit !important;
  color: inherit !important;
  outline: none !important;
}

.icon-xs {
  width: 18px !important;
  height: 18px !important;
  flex-shrink: 0;
}

.icon-sm {
  width: 18px !important;
  height: 18px !important;
  flex-shrink: 0;
}

.icon-md {
  width: 18px !important;
  height: 18px !important;
  flex-shrink: 0;
}

.icon-lg {
  width: 20px !important;
  height: 20px !important;
  flex-shrink: 0;
}/*# sourceMappingURL=Button.module.css.map */