/* Motion tokens */
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.root .helperTextWrapper {
  min-height: 16px;
  align-self: stretch;
  display: flex;
  align-items: center;
}
.root .helperText {
  color: #646464;
}
.root .helperTextError {
  color: #da1e28;
}
.root .helperTextDisabled {
  color: #161616;
  opacity: 0.25;
}
.root label {
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  color: var(--text-color);
  letter-spacing: 0.3199999928px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.root label .labelRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.root label .labelRow .required::after {
  content: " *";
  color: var(--primary-color1);
}
.root label .labelRow .labelDisabled {
  color: #484848;
  opacity: 0.25;
}
.root label .labelRow .forgotPassword {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.32px;
  color: #1f5fcc;
  text-decoration: underline;
  cursor: pointer;
}
.root label .labelRow .forgotPassword:hover {
  text-decoration: underline;
}
.root label .labelRow .textCount {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
  color: #484848;
}
.root label .labelRow .textCount,
.root label .labelRow .forgotPassword {
  transition: color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), opacity 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.root label .input-wrapper {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  height: 40px;
  max-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  box-sizing: border-box;
  position: relative;
  padding: 0.625rem 1rem;
  border: 1px solid #828282;
  transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), border-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), box-shadow 110ms cubic-bezier(0.2, 0, 0.38, 0.9), opacity 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.root label .input-wrapper:focus-within {
  outline: none;
  border-color: #3b82f6 !important;
  box-shadow: 0 0 0 1px #3b82f6 !important;
  transition: border-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9), box-shadow 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.root label .input-wrapper.readOnly {
  border: none !important;
  border-bottom: 1px solid #828282 !important;
  border-radius: 0;
  box-shadow: none !important;
  background-color: transparent;
}
.root label .input-wrapper.readOnly > [data-elem=component2] .input {
  background-color: transparent !important;
}
.root label .input-wrapper.sm {
  height: 2rem;
}
.root label .input-wrapper.md {
  height: 2.5rem;
}
.root label .input-wrapper.lg {
  height: 3rem;
}
.root label .input-wrapper.type-textarea {
  height: auto;
  min-height: 48px;
  align-items: stretch;
}
.root label .input-wrapper .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root label .input-wrapper > [data-elem*=component] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root label .input-wrapper .leftIconDisabled path {
  stroke: #161616;
  opacity: 0.25;
}
.root label .input-wrapper > [data-elem=component2] {
  flex: 1;
}
.root label .input-wrapper > [data-elem=component2] .input {
  -moz-appearance: textfield;
  flex: 1;
  border: none;
  border-radius: 0.25rem;
  font-weight: 400;
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.125rem !important;
  letter-spacing: 0.01rem;
  background-color: #f7f7f7;
}
.root label .input-wrapper > [data-elem=component2] .input::-webkit-outer-spin-button, .root label .input-wrapper > [data-elem=component2] .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.root label .input-wrapper > [data-elem=component2] .input:focus {
  outline: none;
}
.root label .input-wrapper > [data-elem=component2] .input:disabled {
  background: #f7f7f7;
  color: var(--grey3);
}
.root label .input-wrapper > [data-elem=component2] .input.error {
  color: var(--primary-color1);
}
.root label .input-wrapper > [data-elem=component2] .input:disabled {
  color: #161616;
}
.root label .input-wrapper > [data-elem=component2] .input:disabled::-moz-placeholder {
  color: #161616;
  opacity: 0.25;
}
.root label .input-wrapper > [data-elem=component2] .input:disabled::placeholder {
  color: #161616;
  opacity: 0.25;
}
.root label .input-wrapper > [data-elem=component2] .input::-moz-placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
  color: var(--mono-color2);
  opacity: 1;
}
.root label .input-wrapper > [data-elem=component2] .input::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
  color: var(--mono-color2);
  opacity: 1;
}
.root label .input-wrapper > [data-elem=component2] .input::-moz-placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.01rem;
  color: var(--mono-color2);
  opacity: 1;
}
.root label .input-wrapper > [data-elem=component2] .input:-webkit-autofill, .root label .input-wrapper > [data-elem=component2] .input:-webkit-autofill:hover, .root label .input-wrapper > [data-elem=component2] .input:-webkit-autofill:focus, .root label .input-wrapper > [data-elem=component2] .input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--light-color3) inset !important;
  -webkit-text-fill-color: initial !important;
}
.root label .input-wrapper > [data-elem=component2] .input:autofill, .root label .input-wrapper > [data-elem=component2] .input:autofill:hover, .root label .input-wrapper > [data-elem=component2] .input:autofill:focus, .root label .input-wrapper > [data-elem=component2] .input:autofill:active {
  box-shadow: 0 0 0 30px var(--light-color3) inset !important;
  -moz-text-fill-color: initial !important;
}
.root label .input-wrapper > [data-elem=component3] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.root label .input-wrapper > [data-elem=component3] button[data-elem=base-cell].button[type=button] {
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  background-color: transparent;
}
.root label .input-wrapper.type-textarea {
  padding: 0;
}
.root label .input-wrapper.type-textarea > [data-elem=component2] .input {
  min-height: 48px;
  resize: vertical;
  padding: 12px 16px;
}
.root label .input-wrapper.type-textarea > [data-elem=component3] {
  position: absolute;
  right: 12px;
  top: 12px;
  align-self: flex-end;
}
.root label .input-wrapper.feedback-error {
  border-color: var(--primary-color1);
  box-shadow: 0 0 0 1px var(--primary-color1);
}
.root label .input-wrapper.border-bottom {
  border-width: 0rem 0rem 0.063rem 0rem;
}
.root label .input-wrapper.border-none {
  border-width: 0rem;
}
.root label .input-wrapper:active {
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
.root label .input-wrapper:has(input:disabled), .root label .input-wrapper:has(textarea:disabled) {
  opacity: 0.6;
  transition: opacity 150ms cubic-bezier(0.2, 0, 0.38, 0.9), border-color 150ms cubic-bezier(0.2, 0, 0.38, 0.9);
}
.root label .input-wrapper button:active {
  transition-duration: 70ms;
  transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
}
.root label .input-wrapper:has(input:disabled),
.root label .input-wrapper:has(textarea:disabled) {
  border: none !important;
}
@media (prefers-reduced-motion: reduce) {
  .root * {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
  }
}/*# sourceMappingURL=TextField.module.css.map */