@import '../../../styles';

.root {
	min-width: 13rem;
	.header {
		font-weight: 600;
		font-size: 1rem;
	}
	.title {
		@include flex(row, space-between);
		color: $grey;
		gap: 0.5rem;
		font-weight: 500;
		font-size: 1rem;
	}

	.body {
		@include flex(row, flex-start);
		.bodyTitle {
			font-weight: 600;
			font-size: 1rem;
		}
		.bodyPercentage {
			margin-left: auto;
			font-weight: 600;
			font-size: 1rem;
		}
		.bodyValue {
			font-weight: 700;
			font-size: 1rem;
		}
	}
}
