@import '../../../../../styles/index';

.root {
	@include flex(row, flex-start);
	cursor: pointer;
	background-color: #f7f7f7;
	outline: none;
	letter-spacing: small;
	color: #484848;
	font-size: 1.16667rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.01333rem;
	border-radius: 0.33333rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	min-height: 3.33333rem;
	padding: 0 1.75rem;
	gap: 0.83333rem;

	.title {
		width: 100%;
		@include flex(row, space-between);
	}

	&:nth-last-child(1) {
		margin-bottom: 0rem;
	}

	& > .input {
		cursor: pointer;
	}
	&.error {
		background: $background-color1;
		&:hover {
			cursor: not-allowed;
			background: $background-color1;
		}
		.title {
			width: 100%;
			@include flex(row, space-between);
			.icon {
				@include flex(row, space-between);
				path {
					stroke: $primary-color1;
				}
			}
		}
	}

	&:hover {
		background: #e4e4e4;
		border-left: 2px solid #e86a00;
		border-radius: 0;
		padding-left: calc(1.75rem - 0.125rem);
	}

	&.disabled {
		filter: opacity(0.25);
		&:hover {
			cursor: not-allowed;
		}
	}
}
