@import '../../styles/_index';

.root {
	@include flex(row, space-between);
	padding: 0.5rem;
	gap: 0.5rem;
	flex: none;
	height: 3rem;
	background: $white;
	max-width: 100%;
	max-height: 100%;

	> [data-elem*='component'] {
		display: inline-block;
		max-height: 100%;
	}

	&.sm {
		width: 9.063rem;
	}

	&.md {
		width: 15.625rem;
	}

	&.lg {
		width: 21.875rem;
	}

	&.auto {
		width: auto;
	}

	// &:hover {
	// 	background: $background;
	// 	color: $highlight;
	// 	fill: $highlight;
	// }

	&.border-radius-default {
		border-radius: 0.25rem;
	}

	&.border-radius-round {
		border-radius: 50%;
	}

	&.border-radius-ellipse {
		border-radius: 1.563rem;
	}

	&.flexible {
		flex-grow: 1;
		flex-shrink: 1;
		min-width: 3rem;
	}
}
