@import '../../../../styles/_index';

.root[data-elem='base-cell'] {
	@include removeScrollbar;
	overflow-x: auto;
	padding: 0.5rem;
	gap: 1.25rem;
	width: 100%;
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
	}

	button.icon-button {
		height: 100%;
		background: $grey8;
		border: 1px solid $grey4;
		color: $black;
	}

	> [data-elem*='component'] {
		height: 100%;
	}

	.left,
	.center,
	.right {
		height: 100%;
	}

	> [data-elem='component1'] {
		.left {
			gap: 1rem;
			background: $grey8;
			border: 1px solid $grey4;
			color: $black;
			[data-elem='left'] {
				gap: 1rem;
			}

			.icon {
				fill: $black;
			}

			.filter-value {
				color: $white;
				background: $highlight;
				padding: 0.125rem 0.5rem;
				border-radius: 50%;
				font-size: 0.813rem;
			}
		}
	}

	> [data-elem='component2'] {
		flex: 1;
		.center {
			width: 100%;
			[data-elem='base-cell'] {
				border-color: $grey4;
				&:focus-within {
					outline: 1px solid $highlight;
				}
			}

			.icon {
				width: 1.25rem;
			}
		}
	}

	.right {
		width: auto;
		padding: 0;
		min-width: 0rem;
		gap: 0.5rem;
		@include flex(row, flex-start, center);
		> [data-elem*='component'] {
			@include flex;
			height: 100%;
		}
	}
}
