@import '../../../../styles/_index';

.root[data-elem='base-cell'] {
	padding: 0.5rem;
	gap: 1.25rem;
	width: 100%;
	.icon {
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
	}

	.icon-button {
		padding: 0rem;
		height: 100%;
	}

	> [data-elem*='component'] {
		height: 100%;
	}

	.left,
	.center,
	.right {
		height: 100%;
	}

	> [data-elem='component1'] {
		.left {
			gap: 1rem;
			[data-elem='left'] {
				gap: 1rem;
			}
			.filter-value {
				color: $white;
				background: $highlight;
				padding: 0.125rem 0.5rem;
				border-radius: 50%;
				font-size: 0.813rem;
			}
		}
	}

	> [data-elem='component2'] {
		flex: 1;
		.center {
			width: 100%;
			[data-elem='base-cell'] {
				background: $grey5;
				border-color: $grey5;
			}

			.icon {
				width: 1.25rem;
			}
		}
	}

	.right {
		width: auto;
		padding: 0;
		gap: 2.5rem;
		> [data-elem*='component'] {
			@include flex;
		}
	}
}
