:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --dark-grey-o-85: rgba(51, 51, 51, 0.85);
  --grey: #737373;
  --grey1: #888888;
  --grey2: #a6a6a6;
  --grey3: #bbbbbb;
  --grey4: #c4c4c4;
  --grey5: #dddddd;
  --grey6: #e8e8e8;
  --grey7: #eeeeee;
  --grey8: #f2f2f2;
  --grey9: #eff0f0;
  --grey10: #f7f7f7;
  --highlight: #0f62fe;
  --dark-blue: #001833;
  --background: #d0e2ff;
  --banyan-blue: #00037c;
  --banyan-orange: #ff892a;
  --banyan-pink: #ff1597;
  --banyan-gradient: linear-gradient(
  	84.71deg,
  	var(--banyan-pink) 0.48%,
  	var(--banyan-orange) 99.57%
  );
  --error: #da1e28;
  --error-bg: #fff1f1;
  --error-outline: rgba(218, 30, 40, 0.08);
  --success: #24a148;
  --success-bg: #defbe6;
  --success-outline: rgba(36, 161, 72, 0.08);
  --warning: #f1c21b;
  --warning-bg: #fff8e1;
  --warning-outline: rgba(203, 160, 6, 0.08);
  --info: #0043ce;
  --info-bg: #edf5ff;
  --info-outline: #2864db98;
}
:export {
  white: var(--white);
  black: var(--black);
  dark-grey: var(--dark-grey);
  dark-grey-o-85: var(--dark-grey-o-85);
  grey: var(--grey);
  grey1: var(--grey1);
  grey2: var(--grey2);
  grey3: var(--grey3);
  grey4: var(--grey4);
  grey5: var(--grey5);
  grey6: var(--grey6);
  grey7: var(--grey7);
  grey8: var(--grey8);
  grey9: var(--grey9);
  grey10: var(--grey10);
  highlight: var(--highlight);
  dark-blue: var(--dark-blue);
  background: var(--background);
  banyan-blue: var(--banyan-blue);
  banyan-orange: var(--banyan-orange);
  banyan-pink: var(--banyan-pink);
  banyan-gradient: var(--banyan-gradient);
  error: var(--error);
  error-bg: var(--error-bg);
  error-outline: var(--error-outline);
  success: var(--success);
  success-bg: var(--success-bg);
  success-outline: var(--success-outline);
  warning: var(--warning);
  warning-bg: var(--warning-bg);
  warning-outline: var(--warning-outline);
  info: var(--info);
  info-bg: var(--info-bg);
  info-outline: var(--info-outline);
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.root label {
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.32px;
  color: var(--grey);
  font-family: "Poppins";
  height: 100%;
}
.root label .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 0.5rem;
  max-width: 100%;
  width: 100%;
  border-color: var(--grey4);
  border-style: solid;
  border-radius: 0.25rem;
  height: 100%;
}
.root label .input-wrapper .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.root label .input-wrapper .left .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root label .input-wrapper .left .input {
  -moz-appearance: textfield;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  color: var(--black);
  font-family: inherit;
  width: 100%;
}
.root label .input-wrapper .left .input::-webkit-outer-spin-button, .root label .input-wrapper .left .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.root label .input-wrapper .left .input:focus {
  outline: none;
}
.root label .input-wrapper .left .input.sm {
  padding: 0.5rem 0rem;
}
.root label .input-wrapper .left .input.md {
  padding: 0.688rem 0rem;
}
.root label .input-wrapper .left .input.lg {
  padding: 1rem 0rem;
}
.root label .input-wrapper:focus-within {
  border: 0.063rem solid var(--info);
  background-color: var(--info-bg);
}
.root label .input-wrapper.border-default {
  border-width: 0.063rem;
}
.root label .input-wrapper.border-bottom {
  border-width: 0rem 0rem 0.063rem 0rem;
}
.root label .input-wrapper.border-none {
  border-width: 0rem;
}
.root .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;
}
.root .right .icon {
  font-size: 0.875rem;
  color: var(--black);
}
.root .field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.313rem;
  color: var(--grey3);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
}
.root .field .icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}/*# sourceMappingURL=TextField.module.css.map */