@use '../../../../../styles/tokens' as tokens;
@import '../../../../../styles/';

.row {
	@include flex;
	gap: 16px;
	margin-bottom: 16px;
	padding: 0 tokens.$spacing-md;

	&.header {
		height: 40px;
		background: tokens.$color-bg-secondary;
		.th {
			@include flex(row, flex-start);
			.skeleton {
				background: tokens.$color-bg-tertiary;
			}
		}
	}

	& > .column {
		width: 100%;
		.skeleton {
			height: 32px;
		}
	}
}
