@import '../../../styles/_index';

.root {
	@include flex(row, flex-start);

	&.header-row {
		background: $grey6;
	}

	&.body-row {
		background: $white;

		&:hover {
			.cell {
				background: $info-bg;
			}
		}

		&.selected {
			.cell {
				background: $background;
			}
		}
	}

	.cell {
		background: $white;
		border-bottom: 1px solid $grey4;
		> [data-elem*='component'] {
			@include flex(row, flex-start);
			flex: 1;
			.cell-text {
				@include ellipsis;
				display: inline-block;
				width: 100%;
				font-size: 0.875rem;
			}
		}

		&.header-cell {
			background: $grey7;
			.cell-text {
				font-weight: 600;
			}
		}

		&.body-cell {
			.cell-text {
				&.multi-line {
					white-space: normal;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					font-size: 0.75rem;
				}
			}
		}

		&.sticky-left {
			position: sticky;
			left: 0;
		}

		&.sticky-right {
			position: sticky;
			right: 0;
		}
	}
}
