@import '../../../styles';

.root {
	@include flex(row, flex-start);

	&.header-row {
		background: $grey6;
	}

	&.body-row {
		background: $white;
		&:hover {
			> [data-elem='base-cell'] {
				background: $info-bg;
			}
		}

		&[data-active='true'] {
			> [data-elem='base-cell'] {
				background: $background;
			}
		}
	}

	> [data-elem='base-cell'] {
		&:first-child {
			padding-left: 1rem;
		}
		&:last-child {
			padding-right: 1rem;
		}
	}
}
