@import '../../styles';

.root {
	@include flex(column, flex-start, stretch);

	.header {
		@include flex(row, flex-start);
		gap: 0.25rem;
		// border-radius: 4px;
		padding: 0.25rem;
		cursor: pointer;

		.icon {
			transform: rotate(-90deg);
			width: 1.5rem;
			height: 1.5rem;
		}

		.title {
			flex: 1 1 auto;
			user-select: none;
		}

		&:hover {
			.icon,
			.title {
				color: $highlight;
				fill: $highlight;
			}

			background: $background;
		}
	}

	.body {
		display: none;
		padding: 0.5rem 1.5rem;
	}

	&.open {
		.header {
			.icon {
				transform: none;
			}
		}

		.body {
			@include flex(row, flex-start, stretch);
		}
	}
}
