@import '../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	width: 100%;

	& > .header[data-elem='base-cell'] {
		@include flex(row, flex-start);
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		cursor: pointer;

		& > [data-elem='component1'] {
			@include flex;
			.icon {
				transform: rotate(-90deg);
				width: 1rem;
				height: 1rem;
			}
		}

		.title {
			flex: 1 1 auto;
			user-select: none;
		}

		&:hover {
			.icon,
			.title {
				color: $highlight;
				fill: $highlight;
			}

			background: $background;
		}
	}

	& > .body {
		display: none;
		padding: 0.5rem 2.5rem;
	}

	&.open {
		& > .header[data-elem='base-cell'] {
			[data-elem='component1'] {
				.icon {
					transform: none;
				}
			}
		}

		& > .body {
			@include flex(column, flex-start, stretch);
		}
	}
}
