@import '../../styles/';

.root {
	width: 100%;
	height: 100%;
	position: relative;
	button.full-screen[data-elem='base-cell'] {
		background-color: $white;
		position: absolute;
		bottom: 0;
		right: 0;
		.icon {
			width: 1.5rem;
			height: 1.5rem;
			fill: $text-color;
		}
	}
	.zoom {
		@include flex(column, center, center);
		gap: 0.25rem;
		position: absolute;
		right: 2.5%;
		top: 2.5%;
		.button {
			width: 1.875rem;
			height: 1.875rem;
			&[data-elem='base-cell'] {
				background-color: #fff;
				color: #000;
				border: 0.0625rem solid $text-color;
				& > [data-elem='component1'] {
					padding: 0rem;
					:hover {
						background-color: $text-color;
						color: #fff;
						border-radius: 0.25rem;
					}
				}
			}
		}
	}
}
