@import '../../styles/_index';

.root {
	@include flex(column, flex-start, stretch);
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	max-height: 100%;
	height: 43.75rem;
	width: 62.5rem;
	position: fixed;
	background: $white;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
	border-radius: 8px;
	outline: none;

	.body {
		overflow-y: scroll;
		padding: 1rem 2rem 1rem 2rem;
	}

	.header,
	.footer {
		padding: 1rem;
	}

	.header {
		font-weight: 500;
		font-size: 1.375rem;
		border-bottom: 1px solid $grey4;
	}

	.footer {
		margin-top: auto;
		background: $grey6;
		border-radius: 0 0 8px 8px;
		@include flex(row, flex-end);
		gap: 0.625rem;
	}

	button.close {
		position: absolute;
		right: 1rem;
		top: 1rem;
		padding: 0.25rem;
		height: auto;
		background: $grey6;
		.icon {
			width: 1.5rem;
			height: 1.5rem;
			fill: $black;
		}
	}
}
