@import '../../../../styles/';

.row {
	@include flex;
	gap: 16px;
	margin-bottom: 16px;
	padding: 0px, 8px;

	&.header {
		height: 48px;
		background: $light-color1;
		.th {
			@include flex(row, flex-start);
			.skeleton {
				background: $light-color2;
			}
		}
	}

	& > .column {
		width: 100%;
		.skeleton {
			height: 32px;
		}
	}
}
