@import '../../../../styles/';

.root {
	@include flex(column, flex-start, flex-start);
	gap: 1.75rem;

	.title-container {
		align-self: stretch;
		@include flex(row, space-between, center);
		padding: 0rem 1.5625rem;
		.title {
			font-weight: 500;
			font-size: 0.875rem;
			color: $black;
			line-height: 1.3125rem;
			color: $dark-grey;
		}
		.icon {
			width: 1.5rem;
			height: 1.5rem;
			stroke: $dark-grey;
			stroke-width: 0.5px;
			cursor: pointer;
		}
	}
}
