@import '../../../../styles/index';

.root {
	@include flex(row, flex-start);
	gap: 2rem;
	width: 100%;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	cursor: pointer;
	color: $grey;
	outline: none;
	margin-bottom: 1.25rem;

	& > .input {
		cursor: pointer;
	}
	&.error {
		background: $background-color1;
		&:hover {
			cursor: not-allowed;
			background: $background-color1;
		}
		.title {
			width: 100%;
			@include flex(row, space-between);
			.icon {
				@include flex(row, space-between);
				path {
					stroke: $primary-color1;
				}
			}
		}
	}

	// &:hover,
	&:focus {
		background: $background-color4;
	}

	&.disabled {
		filter: opacity(0.25);
		&:hover {
			cursor: not-allowed;
		}
	}
}
