@import '../../../styles/index';

.root {
	@include flex(column, flex-start, flex-start);
	gap: 0.5rem;
	position: relative;
	width: fit-content;
	max-width: 100%;

	.label {
		font-size: 0.75rem;
		color: $grey;
		width: auto;
		&.required {
			&::after {
				content: ' *';
				color: $error;
			}
		}
	}

	.header {
		@include flex(row, flex-start);
		max-width: 100%;
		position: relative;
		.input {
			position: absolute;
			opacity: 0;
			width: 1px;
			height: 1px;
			&:focus + .select {
				border-color: $highlight;
				&.feedback-error {
					border-color: $error;
				}
			}
		}

		.select {
			@include flex(row, space-between);
			width: 25rem;
			max-width: 100%;
			gap: 0.5rem;
			background: $white;
			outline: none;
			border-radius: 0.3125rem;
			border: 0.0625rem solid #dfe0e2;
			padding: 0.75rem 0.75rem 0.75rem 1rem;
			cursor: pointer;

			.placeholder {
				@include ellipsis;
				color: $black;
			}

			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}

			&.feedback-error {
				border-color: $error;
			}
		}
	}

	&.open {
		.header {
			border-color: $highlight;
		}
	}

	&.disabled {
		.select {
			background: $grey10;
			cursor: not-allowed;
		}
	}

	.bottom {
		@include flex(row, space-between, flex-start);
		min-height: 2rem;
		width: 100%;
		gap: 1rem;
		color: $grey3;
		font-size: 0.75rem;
		user-select: none;

		.feedback {
			flex: 1;
			margin-right: auto;

			&.feedback-error {
				color: $error;
				fill: $error;
			}

			&.feedback-success {
				color: $success;
				fill: $success;
			}
		}

		.count {
			text-align: right;
			margin-left: auto;

			&.exceeded {
				color: $error;
			}
		}
	}
}

.body {
	display: none;
	position: absolute;
	top: calc(100% + 0.5rem);
	background: $white;
	width: auto;
	border-radius: 0.3125rem;
	border: 0.0625rem solid #dfe0e2;
	box-shadow: 0rem 0.5rem 1.25rem rgba(24, 24, 24, 0.08);
	padding: 1rem;
	overflow-y: auto;
	min-height: 4rem;
	outline: none;

	.multi-options {
		@include flex(row, space-between);
		margin-bottom: 0.5rem;
		list-style: none;
	}

	.multi-apply {
		margin-top: 0.5rem;
	}

	&.open {
		@include flex(column, flex-start, stretch);
	}
}
