.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
	span {
		padding: 0.75rem 0.5rem;
		font-weight: 500;
		font-size: 0.875rem;
		color: black;
		flex-basis: 14.28%;
	}
}
