@import '../../styles';

.root {
	padding: 0.5rem, 1rem;
	position: relative;
	.code {
		font-family: monospace;
		font-size: 1rem;
	}
	.copy {
		visibility: hidden;
		position: absolute;
		padding: 0 !important;
		width: 2.25rem;
		height: 2.25rem;
		right: 1rem;
		top: 1rem;
		background-color: transparent !important;
		[data-elem='title'] {
			box-shadow: 0px 0px 0.125rem 0px rgba(0, 0, 0, 0.35);
			border-radius: 0.25rem;
			padding: 0.35rem;
			> span {
				display: inline-flex;
			}
		}
	}
	&:hover {
		.copy {
			visibility: visible;
			position: absolute;
			right: 1rem;
			top: 1rem;
			.icon {
				width: 1.25rem;
				height: 1.25rem;
				fill: rgba(0, 0, 0, 0.75);
			}
		}
	}
}

.tick {
	width: 1.25rem;
	height: 1.25rem;
}
