@import '../../../../../styles/';

.root {
	@include flex(column, flex-start, flex-start);
	gap: 0.3125rem;
	padding-inline: 0.75rem;
	width: 100%;
	> span {
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.3125rem;
		color: $text-color;
	}
	> div {
		@include flex(row, flex-start, flex-start);
		width: 100%;
		gap: 0.25rem;
		button[data-elem='base-cell'].selector {
			flex: 1;
			border: 1px solid $mono-color2 !important;
			border-radius: 4px;
			padding: 0.75rem 1rem;
			@include flex(row, flex-start);
			&.active {
				background-color: $primary-color4;
				> [data-elem='component2'] {
					> [data-elem='title'] {
						color: $white;
					}
				}
			}
			&:hover {
				border: 1px solid transparent !important;
				> [data-elem='component2'] {
					> [data-elem='title'] {
						color: $white;
					}
				}
			}
			> [data-elem='component2'] {
				> [data-elem='title'] {
					color: $text-color;
				}
			}
		}
	}
}
