@import '../../styles/_index';

.drawer {
	max-height: 100%;
	height: 100%;
	width: 30%;
	@include flex(column, flex-start, stretch);
	top: 0;
	background: $white;
	@include boxShadow;
	overflow-x: hidden;
	&.close {
		width: 0rem;
	}
	.body {
		flex: 1;
		overflow-y: auto;
	}
}

.modal {
	height: 100%;
	width: 30%;
	@include flex(column, flex-end, stretch);
	position: fixed;
	top: 0 !important;
	left: 70% !important;
	z-index: 100;
	background: $white;
	@include boxShadow;
	overflow-x: hidden;
	&.close {
		width: 0rem;
	}
	.body {
		flex: 1;
		overflow-y: auto;
	}
}
