@import '../../styles/_index';

.root {
	max-height: 100%;
	height: 100%;
	width: 30%;
	@include flex(column, flex-start, stretch);
	@include boxShadow;
	overflow-x: hidden;
	top: 0;
	background: $white;
	opacity: 1;
	transition: 700ms;
	transform: translateX(0%);

	&.close {
		opacity: 0;
		transform: translateX(100%);
	}

	.body {
		flex: 1;
		overflow-y: auto;
	}
}
