@import '../../styles/_index';

.root {
	@include flex(row, space-between, stretch);
	@include removeScrollbar;
	padding: 0.4375rem 1rem;
	background: $light-color1;
	margin-top: auto;
	width: 100%;
	height: 3.5rem;
	overflow: auto;
	transition-property: background-color, color, bottom, width;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;

	&.floating {
		background: $light-color1;
		position: absolute;
		border-radius: 6.25rem;
		width: 100%;
		bottom: 3rem;
	}

	.left-options {
		@include flex(row);
		gap: 1rem;
		flex: 1;
		@include flex(row, flex-start);
		.row-switcher {
			@include flex(row, space-between, center);
			flex-grow: 0;
			max-width: 9.5rem;
			> [data-elem='component2'] {
				height: 100%;
				width: 100%;
			}

			.row-switcher-handle {
				gap: 0.75rem;
				padding: 0;
				border-radius: 0.25rem;
				height: 100%;
				width: fit-content !important;
				> [data-elem='component1'] {
					@include flex(row, flex-start, stretch);
					height: 100%;
					&::before {
						content: '';
						margin: auto;
						background: $white;
						width: 0.0313rem;
						height: 50%;
					}
				}
			}
			background-color: transparent;
			padding: 0;
			height: 100%;

			.dropdown {
				height: 100%;
				& > [data-elem='header'] {
					height: 100%;

					& > [data-elem='select'] {
						height: 2.375rem;
						width: fit-content;
						padding: 0.625rem;
						border: 0rem solid transparent;
						& > [data-elem='placeholder'] {
							color: $text-color;
							font-size: 0.875rem;
							background-color: $secondary-color2;
						}
						& > svg {
							color: $text-color;
							width: 1rem;
							height: 1rem;
						}
					}
				}
			}
		}
		.total-data {
			@include ellipsis;
			color: $text-color;
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.5rem;
			span {
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}

	.page-numbers {
		@include flex;
		flex: 1;

		&.stretch {
			@include flex(row, flex-end);
		}
		&.custom-page-number {
			@include flex(row, flex-start);
		}

		& > .button {
			&.disable {
				pointer-events: none;
			}
			[data-elem='title'] {
				color: $white;
			}
			.icon {
				width: 1.5rem;
				height: 1.5rem;
				fill: $white;
			}
		}
		& > .pageSelect {
			@include flex(row, space-between, center);
			gap: 1rem;
			.number {
				cursor: pointer;
				border-radius: 100%;
				font-size: 0.875rem;
				line-height: 1.125rem;
				font-weight: 500;
				height: 2.5rem;
				width: 2.5rem;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				&.custom-number {
					border-radius: 0;
					font-size: 0.875rem;
					width: auto;
					white-space: nowrap;
					padding-inline: 0.3125rem;
				}
				background-color: transparent;
				text-align: center;
				border: 1px solid transparent;

				&:not([data-active='true']) {
					display: none;
				}

				@include md {
					&:not([data-active='true']) {
						display: inline-flex;
					}
				}

				&:hover {
					color: $secondary-color2;
					background: $background-color5;
				}

				&.active {
					background-color: $secondary-color2;
					color: $white;
				}

				&.disabled {
					color: $light-color2;
					cursor: not-allowed;
				}
				&.ellipsis {
					font-size: 1.8rem;
					padding-top: 0.125rem;
					font-weight: 600;
					align-items: unset;
					&:hover {
						color: $secondary-color2;
						background: transparent;
					}
				}
			}
		}
	}

	.options {
		@include flex(row, flex-end);
		gap: 1rem;
		flex: 1;

		.total-data {
			@include ellipsis;
			color: $text-color;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 1.125rem;
		}

		> [data-elem='base-cell'] {
			flex: 0 !important;
		}

		.form {
			@include flex(row, flex-end, center);
			width: auto;
			min-width: auto;
			> [data-elem*='component'] {
				width: 100%;
				height: 100%;
				> * {
					height: 100%;
				}
			}
			padding: 0;
			flex: 1;
			background: transparent;
			.jump-to-page {
				background: transparent;
				> [data-elem*='component'] {
					overflow: hidden;
					height: 100%;
				}
				padding: 0rem;
				height: 100%;
				width: fit-content;
				border-radius: 0.25rem;
				border: 0.0313rem solid $secondary-color2;
				box-shadow: 0.1875rem 0.1875rem 0.25rem 0rem rgba(194, 194, 194, 0.12) inset;
				gap: 0;

				.inputbox {
					height: 100%;

					> label {
						height: 100%;
						font-size: 0.875rem;
						> [data-elem='base-cell'] {
							background-color: transparent;
							color: $white;
							width: 3rem;
							flex: 1;
							padding: 0rem !important;
							border: none;
							border-radius: 0rem;

							.icon {
								width: 1.5rem;
								height: 1.5rem;
								fill: $grey1;
							}

							> [data-elem='component2'] {
								height: 100%;
							}

							[data-elem='input'] {
								text-align: center;
								background-color: transparent !important;
								border: none;
								height: 100%;
								width: 100%;
								color: $text-color;
								font-size: 0.875rem;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
				}

				.button {
					border-radius: 0rem;
					background-color: $secondary-color2;
					padding: 0.75rem 0.5rem;
					height: 100%;

					.icon {
						width: 1.5rem;
						height: 1.5rem;
						fill: $white;
						flex-shrink: 0;
					}
				}
			}
		}
	}
}
