@import '../../styles/_index';

div.root {
	@include flex(column, flex-start, stretch);
	width: 27.5rem;
	@include boxShadow;
	background: $white;

	.header {
		.firstrow {
			@include flex(row, space-between, center);
			border-bottom: 1px solid $grey5;
			padding: 0.5rem;
			gap: 5.313rem;
		}

		.secondrow {
			@include flex(row, space-between, center);
			padding: 0.5rem;
			gap: 5.315rem;
			border-bottom: 1px solid $grey5;
			[data-elem='base-cell'].mark-button {
				padding: 0.25rem 1rem;
				width: 7.813rem;
				height: 2rem;
				background: $background;
				color: $highlight;
			}
		}
	}
	.body {
		border-bottom: 1px solid $grey5;
		padding: 1.2rem;
		.container {
			@include flex(row, flex-start);
			padding: 0.3rem;
			gap: 0.5rem;
		}
		.messageBox {
			@include flex(row, flex-start);
			padding-left: 2.6rem;
			gap: 1rem;
			.rectangle {
				width: 0.6rem;
				height: 3.813rem;
				background: $grey4;
				border-radius: 2rem;
			}
		}
		.actions {
			@include flex(row, flex-start);
			gap: 0.5rem;
			padding-left: 2.4rem;
		}
		[data-elem='base-cell'].accept-button {
			padding: 0.25rem 0.5rem;
			width: fit-content;
			height: 1.75rem;
			border-radius: 0.25rem;
			background: $error;
			color: $white;
		}
		[data-elem='base-cell'].reject-button {
			padding: 0.25rem 0.5rem;
			width: fit-content;
			height: 1.8rem;
			font-weight: 500;
			border-radius: 0.25rem;
			border: 1px solid $grey5;
			background: $white;
			color: $dark-grey;
		}
		.timer {
			padding-left: 2.4rem;
			.timing {
				font-weight: 400;
				font-size: 0.75rem;
				color: $grey2;
			}
		}
	}
}
