@import '../../styles';
div.root {
	width: 100%;
	@include flex(row, center, center);
	border-top: 1px solid $grey5;
	border-bottom: 1px solid $grey5;
	.input {
		width: 5.125rem;
		> label {
			[data-elem='base-cell'] {
				border: none;
				[data-elem='component2'] {
					@include flex(row);
					> input[data-elem='input'] {
						padding: 1rem 0rem;
						text-align: center;
						font-weight: 600;
						font-size: 1.25rem;
						line-height: 1.5rem;
						color: $dark-grey;
					}
				}
			}
		}
	}

	.colon {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $dark-grey;
	}

	.separator {
		width: 0.0625rem;
		height: 1.5625rem;
		background-color: $grey5;
	}
}
