@use '../../../../styles' as *;
@use '../../../../styles/tokens' as tokens;

.container {
	display: flex;
	flex-direction: column;
	gap: tokens.$spacing-md;
	align-items: flex-start;
}

.root {
	cursor: pointer;
	gap: 8px;
	color: tokens.$color-text-secondary;
	font-family: tokens.$font-family-base;
	font-size: tokens.$font-size-14;

	&.position-left {
		@include flex(row, flex-start);
		align-items: center;
	}
	&.position-right {
		@include flex(row-reverse, flex-end);
		align-items: center;
	}

	&.disabled {
		cursor: default;
		color: tokens.$color-text-disabled;
	}

	&.readonly {
		cursor: default;
		pointer-events: none;
		color: tokens.$color-text-tertiary;
	}

	&.selected {
		color: tokens.$color-text-primary;
	}

	&.error {
		color: tokens.$color-text-primary;
	}

	&.warning {
		color: tokens.$color-text-primary;
	}

	&:hover:not(.disabled):not(.readonly) {
		color: tokens.$color-text-primary;
	}

	input[type='radio'] {
		opacity: 0;
		z-index: 1;
		position: absolute;
		width: 1px;
		height: 1px;
	}

	[data-elem='label'] {
		user-select: none;
		line-height: 1.5;
	}
}

.radio-icon {
	display: inline-flex;
	border-radius: 50%;
	line-height: 0;

	&.focus {
		box-shadow: tokens.$shadow-state-focus-primary-brand;
	}

	&.focus-error {
		box-shadow: tokens.$shadow-state-focus-error;
	}
}

.feedback {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: tokens.$spacing-md;
}

.feedbackTextError {
	font-size: tokens.$font-size-14;
	line-height: 1rem;
	color: tokens.$color-text-primary;
	font-family: tokens.$font-family-base;
}

.feedbackTextWarning {
	font-size: tokens.$font-size-14;
	line-height: 1rem;
	color: tokens.$color-text-primary;
	font-family: tokens.$font-family-base;
}
