.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.25rem;
}
.root button[data-elem=base-cell].selected[type=submit] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  max-width: 17rem;
  border: 0.0313rem solid transparent;
  background: var(--light-color2);
  padding: 0.625rem 0.75rem;
  gap: 0rem;
  border-radius: 0.25rem;
  border: 0.0938rem solid transparent;
}
.root button[data-elem=base-cell].selected[type=submit].expand {
  border: 0.0938rem solid var(--secondary-color2);
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component1] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component1] div.iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component1] div.iconWrapper > svg {
  width: 1rem;
  height: 1rem;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component2] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component2] > [data-elem=title] {
  font-size: 0.875rem;
  color: var(--text-color);
  line-height: 1.3125rem;
}
.root button[data-elem=base-cell].selected[type=submit].gap > [data-elem=component2] {
  margin-left: 0.7775rem;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component3] {
  margin-left: 1.785rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component3] .icon {
  width: 1rem;
  height: 1rem;
}
.root button[data-elem=base-cell].selected[type=submit] > [data-elem=component3] .icon.expand path {
  stroke: var(--secondary-color2);
}

div.popover {
  height: auto;
  padding: 0.75rem 0.625rem 0rem 0.625rem;
  background: var(--white) !important;
  border-color: var(--white) !important;
  box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
}
div.popover .crumb-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.625rem;
  border-radius: 0.125rem;
  border: 0.0313rem solid var(--side-bar-icon2);
  font-weight: 500;
  color: var(--text-color);
}
div.popover .crumb-list:hover {
  cursor: pointer;
  background: var(--light-color2);
}
div.popover .crumb-list.active {
  background: var(--background-color5);
  border: 0.0313rem solid transparent;
}
div.popover .crumb-list .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.625rem;
}
div.popover .crumb-list .left .iconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--text-color);
}
div.popover .crumb-list .left .value {
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
div.popover .crumb-list .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
div.popover .crumb-list .right .circle {
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--secondary-color2);
  background-color: white;
  border-radius: 50%;
  z-index: 1000;
}
div.popover .crumb-list .right .circle-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--secondary-color2);
  background-color: var(--white);
  border-radius: 50%;
  z-index: 101;
}
div.popover .crumb-list .right .circle-dropdown .icon {
  margin-right: 1.8px;
  margin-bottom: 1.4px;
  transform: rotate(180deg);
}
div.popover .crumb-list .right .circle-dropdown .icon > path {
  fill: var(--secondary-color2);
  stroke: var(--secondary-color2);
  stroke-width: 0.2rem;
  stroke-linecap: round !important;
  stroke-linejoin: round;
}
div.popover .crumb-list .right .circle-dropdown::before {
  content: "";
  width: 0%;
  height: 26px;
  border-left: 1.5px dashed var(--secondary-color2);
  position: relative;
  bottom: 100%;
  right: -3.6px;
}
div.popover .crumb-list .right .circle-filled {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 12px;
  height: 12px;
  border: 1.5px solid var(--secondary-color2);
  background-color: var(--secondary-color2);
  border-radius: 50%;
  z-index: 100;
}
div.popover .crumb-list .right .circle-filled::before {
  content: "";
  width: 0%;
  height: 40px;
  border-left: 1.5px solid var(--secondary-color2);
  position: relative;
  bottom: 200%;
  right: -3.6px;
}/*# sourceMappingURL=Breadcrumbs.module.css.map */