@import '../../styles/index';

.root {
	@include flex(row, flex-start, center);
	width: 100%;
	height: 100%;

	button[data-elem='base-cell'].selected[type='submit'] {
		@include flex(row, flex-start, center);
		height: auto;
		width: auto;
		max-width: 17rem;
		border: 0.0313rem solid transparent;
		background: $light-color2;
		padding: 0.3125rem 0.75rem;
		gap: 0rem;
		border-radius: 0.25rem;
		&.expand {
			border: 0.0313rem solid $secondary-color2;
		}
		> [data-elem='component1'] {
			@include flex(row, flex-start, center);
			div.iconWrapper {
				@include flex(row, center);
				> svg {
					width: 1rem;
					height: 1rem;
				}
			}
		}
		> [data-elem='component2'] {
			@include flex(row, center);
			@include ellipsis;
			> [data-elem='title'] {
				font-size: 0.875rem;
				color: $text-color;
				line-height: 1.3125rem;
			}
		}
		&.gap {
			> [data-elem='component2'] {
				margin-left: 0.7775rem;
			}
		}
		> [data-elem='component3'] {
			margin-left: 1.785rem;
			@include flex(row, flex-end, flex-end);
			.icon {
				> path {
					stroke: $side-bar-icon1;
				}
			}
		}
	}
}

div.popover {
	height: auto;
	padding: 0.75rem 0.625rem 0rem 0.625rem;
	background: $white !important;
	border-color: $white !important;
	box-shadow: 0rem 0rem 0.125rem 0rem rgba(0, 0, 0, 0.25);

	.crumb-list {
		@include flex(row, space-between, center);
		gap: 0.625rem;
		padding: 0.5rem 0.75rem;
		margin-bottom: 0.625rem;
		border-radius: 0.125rem;
		border: 0.0313rem solid $side-bar-icon2;
		font-weight: 500;
		color: $text-color;

		&:hover {
			cursor: pointer;
			background: $light-color2;
		}
		&.active {
			background: $background-color5;
			border: 0.0313rem solid transparent;
		}

		.left {
			@include flex(row, flex-start, flex-start);
			gap: 0.625rem;
			.iconWrapper {
				@include flex(row, flex-start, flex-start);
				color: $text-color;
			}
			.value {
				color: $text-color;
				@include ellipsis;
			}
		}
		.right {
			@include flex(row, flex-end, flex-end);

			.circle {
				width: 12px;
				height: 12px;
				border: 1.5px solid $secondary-color2;
				background-color: white;
				border-radius: 50%;
				// margin-left: 10px;
				z-index: 1000;
			}
			.circle-dropdown {
				@include flex(row, flex-end, flex-end);
				width: 12px;
				height: 12px;
				border: 1.5px solid $secondary-color2;
				background-color: $white;
				border-radius: 50%;
				// margin-left: 8px;
				z-index: 101;
				.icon {
					margin-right: 1.8px;
					margin-bottom: 1.4px;
					> path {
						stroke: $secondary-color2;
						stroke-width: 3px;
						stroke-linecap: round !important;
						stroke-linejoin: round;
					}
				}
				&::before {
					content: '';
					width: 0%;
					height: 26px;
					border-left: 1.5px dashed $secondary-color2;
					position: relative;
					bottom: 100%;
					right: -3.6px;
				}
			}
			.circle-filled {
				@include flex(row, flex-start, center);
				width: 12px;
				height: 12px;
				border: 1.5px solid $secondary-color2;
				background-color: $secondary-color2;
				border-radius: 50%;
				// margin-left: 8px;
				z-index: 100;
				&::before {
					content: '';
					width: 0%;
					height: 40px;
					border-left: 1.5px solid $secondary-color2;
					position: relative;
					bottom: 200%;
					right: -3.6px;
				}
			}
		}
	}
}
