@import '../../styles/_index';

.backdrop {
	position: fixed;
	z-index: 100;
	inset: 0;
	background: rgba($color: #000000, $alpha: 0.4);

	&.transparent {
		background: none;
	}

	&.hide-backdrop {
		position: static;
	}
}
