@import '../../styles/index';

.container {
	@include flex(row, flex-start, center);
	width: auto;
	.seperator {
		width: 1.5rem;
		height: 1.5rem;
		stroke: $grey2;
	}
	.breadcrumb-item {
		@include flex(row, flex-start, center);
		font-weight: 600;
		font-size: 0.875rem;
		color: $grey2;

		&.active {
			color: $black;
		}
	}
}
