@import '../../styles/index';

.root {
	@include flex(row, flex-start, center, center);
	gap: 0.5rem;
	width: auto;

	.seperator {
		width: 1.5rem;
		height: 1.5rem;
		stroke: $grey2;
		margin-top: 0.625rem;
		margin-left: 0.375rem;
	}

	button.expand[data-elem='base-cell'] {
		background: $grey6;
		color: $dark-grey;
		height: 0.75rem;
		padding: 0.25rem;

		[data-elem='title'] {
			margin-bottom: 0.4rem;
		}
	}

	.crumb {
		@include flex(row, flex-start, center);
		border-width: 0.0625rem;
		border-color: #dfe0e2;
		border-style: solid;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 0.25rem;

		.title {
			color: #818181;
		}

		.value {
			color: #1a2028;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}

	&.theme-light {
		.crumb {
			@include flex(row, flex-start, center);
			color: $grey2;
			font-weight: 500;

			&.active {
				color: $black;
			}

			&:hover:not(.active) {
				color: $info;
			}
		}
	}

	&.theme-dark {
		.crumb {
			@include flex(row, flex-start, center);
			color: $grey2;

			&.active {
				color: $white;
			}

			&:hover:not(.active) {
				color: $info;
			}
		}
	}
}
