@import '../../styles/_index';

.root {
	@include flex(row, space-between, flex-start);
	position: fixed;
	padding: 1rem;
	width: 37.5rem;
	opacity: 1;
	background-color: $light-color3;
	border-radius: 0.25rem;

	&.position-bottom-center {
		left: 50%;
		bottom: 1rem;
		transform: translate(-50%, 0);
	}

	&.position-top-right {
		right: 1rem;
		top: 1rem;
	}

	&.position-bottom-right {
		right: 1rem;
		bottom: 1rem;
	}

	&.position-top-center {
		left: 50%;
		top: 1rem;
		transform: translate(-50%, 0%);
	}

	.left {
		@include flex(row, flex-start, flex-start);
		.icons {
			@include flex(column, center, center);
			padding: 0.5rem;
			display: flex;
			width: 2.5rem;
			height: 2.5rem;
			gap: 10px;
			height: auto;
			border-radius: 10px;
			background: $light-color3;
			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		.content {
			@include flex(column, flex-start, flex-start);
			margin-left: 1.25rem;
			padding: 0.188rem 0.938rem 0rem 0rem;
			.title {
				color: $text-color;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			.description {
				word-wrap: break-word;
				height: auto;
				color: $text-color;
				font-size: 0.875rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
	.actions {
		@include flex(row, space-between, flex-start);
		gap: 5px;
		.button {
			padding: 0.313rem 1rem;
			font-weight: 400;
		}
		.close {
			height: auto;
			.icon {
				width: 1.25rem;
				height: 1.25rem;
				fill: $text-color;
			}
		}
	}

	&.border-default {
		border-width: 0.063rem;
	}
	&.border-thick-left {
		border-width: 0.063rem 0.063rem 0.063rem 0.25rem;
	}
	&.border-none {
		border-width: 0rem 0rem 0rem 0.25rem;
	}

	&.info {
		.icons {
			box-shadow: 0px 0px 10px 0px $secondary-color2;
		}
	}
	&.success {
		.icons {
			box-shadow: 0px 0px 10px 0px $primary-color2;
		}
	}
	&.danger,
	&.error {
		.icons {
			box-shadow: 0px 0px 10px 0px $primary-color1;
		}
	}
	&.warning {
		.icons {
			box-shadow: 0px 0px 10px 0px $primary-color3;
		}
	}

	&.shadow {
		box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.25),
			0rem 0.1875rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
	}
}
