:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --dark-grey-o-85: rgba(51, 51, 51, 0.85);
  --grey: #737373;
  --grey1: #888888;
  --grey2: #a6a6a6;
  --grey3: #bbbbbb;
  --grey4: #c4c4c4;
  --grey5: #dddddd;
  --grey6: #e8e8e8;
  --grey7: #eeeeee;
  --grey8: #f2f2f2;
  --grey9: #eff0f0;
  --grey10: #f7f7f7;
  --highlight: #0f62fe;
  --dark-blue: #001833;
  --background: #d0e2ff;
  --banyan-blue: #00037c;
  --banyan-orange: #ff892a;
  --banyan-pink: #ff1597;
  --banyan-gradient: linear-gradient(
  	84.71deg,
  	var(--banyan-pink) 0.48%,
  	var(--banyan-orange) 99.57%
  );
  --error: #da1e28;
  --error-bg: #fff1f1;
  --error-outline: rgba(218, 30, 40, 0.08);
  --success: #24a148;
  --success-bg: #defbe6;
  --success-outline: rgba(36, 161, 72, 0.08);
  --warning: #f1c21b;
  --warning-bg: #fff8e1;
  --warning-outline: rgba(203, 160, 6, 0.08);
  --info: #0043ce;
  --info-bg: #edf5ff;
  --info-outline: #2864db98;
}
:export {
  white: var(--white);
  black: var(--black);
  dark-grey: var(--dark-grey);
  dark-grey-o-85: var(--dark-grey-o-85);
  grey: var(--grey);
  grey1: var(--grey1);
  grey2: var(--grey2);
  grey3: var(--grey3);
  grey4: var(--grey4);
  grey5: var(--grey5);
  grey6: var(--grey6);
  grey7: var(--grey7);
  grey8: var(--grey8);
  grey9: var(--grey9);
  grey10: var(--grey10);
  highlight: var(--highlight);
  dark-blue: var(--dark-blue);
  background: var(--background);
  banyan-blue: var(--banyan-blue);
  banyan-orange: var(--banyan-orange);
  banyan-pink: var(--banyan-pink);
  banyan-gradient: var(--banyan-gradient);
  error: var(--error);
  error-bg: var(--error-bg);
  error-outline: var(--error-outline);
  success: var(--success);
  success-bg: var(--success-bg);
  success-outline: var(--success-outline);
  warning: var(--warning);
  warning-bg: var(--warning-bg);
  warning-outline: var(--warning-outline);
  info: var(--info);
  info-bg: var(--info-bg);
  info-outline: var(--info-outline);
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: 0, 0, 0, 0.2;
}
.root .container {
  padding: 0.938rem;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.root .container .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.root .container .left .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.313rem 0.938rem 0rem 0rem;
  height: auto;
}
.root .container .left .icons .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.root .container .left .content {
  padding: 0.188rem 0.938rem 0rem 0rem;
}
.root .container .left .content .title {
  font-size: 0.875rem;
  font-weight: 600;
  padding-right: 2px;
}
.root .container .left .content .description {
  word-wrap: break-word;
  height: auto;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.root .container .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.root .container .actions .button {
  padding: 0.313rem 1rem;
  font-weight: 400;
}
.root .container .actions .close {
  padding-top: 0.313rem;
}
.root .container .actions .close .icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--black);
}
.root .container.border-default {
  border-width: 0.063rem;
}
.root .container.border-thick-left {
  border-width: 0.063rem 0.063rem 0.063rem 0.25rem;
}
.root .container.border-none {
  border-width: 0rem 0rem 0rem 0.25rem;
}
.root .container.info {
  border-style: solid;
  border-color: var(--info);
  background-color: #edf5ff;
}
.root .container.info .icon {
  fill: var(--info);
}
.root .container.success {
  border-style: solid;
  border-color: var(--success);
  background-color: var(--success-bg);
}
.root .container.success .icon {
  fill: var(--success);
}
.root .container.danger {
  border-style: solid;
  border-color: var(--error);
  background-color: var(--error-bg);
}
.root .container.danger .icon {
  fill: var(--error);
}
.root .container.warning {
  border-style: solid;
  border-color: var(--warning);
  background-color: var(--warning-bg);
}
.root .container.warning .icon {
  fill: var(--warning);
}
.root .container.shadow {
  box-shadow: 0.125rem 0.5rem 1rem rgba(60, 60, 60, 0.12);
}/*# sourceMappingURL=Alert.module.css.map */