@import '../../styles/_index';

.root {
	@include flex(row, space-between, flex-start);
	position: fixed;
	padding: 0.938rem;
	width: 37.5rem;
	opacity: 1;

	&.position-bottom-center {
		left: 50%;
		bottom: 1rem;
		transform: translate(-50%, 0);
	}

	&.position-top-right {
		right: 1rem;
		top: 1rem;
	}

	&.position-bottom-right {
		right: 1rem;
		bottom: 1rem;
	}

	&.position-top-center {
		left: 50%;
		top: 1rem;
		transform: translate(-50%, 0%);
	}

	.left {
		@include flex(row, flex-start, flex-start);
		.icons {
			@include flex(row, center, center);
			padding: 0.25rem 0.938rem 0rem 0rem;
			height: auto;
			.icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		.content {
			@include flex(column, flex-start, flex-start);
			padding: 0.188rem 0.938rem 0rem 0rem;
			.title {
				font-size: 1rem;
				font-weight: 600;
				padding-right: 2px;
			}
			.description {
				word-wrap: break-word;
				height: auto;
				font-size: 1rem;
				font-weight: 400;
			}
		}
	}
	.actions {
		@include flex(row, space-between, flex-start);
		gap: 5px;
		.button {
			padding: 0.313rem 1rem;
			font-weight: 400;
		}
		.close {
			height: auto;
			.icon {
				width: 1.25rem;
				height: 1.25rem;
				fill: $black;
			}
		}
	}

	&.border-default {
		border-width: 0.063rem;
	}
	&.border-thick-left {
		border-width: 0.063rem 0.063rem 0.063rem 0.25rem;
	}
	&.border-none {
		border-width: 0rem 0rem 0rem 0.25rem;
	}

	&.info {
		@include bordermixin($info, #edf5ff);
		.icon {
			fill: $info;
		}
	}
	&.success {
		@include bordermixin($success, $success-bg);
		.icon {
			fill: $success;
		}
	}
	&.danger {
		@include bordermixin($error, $error-bg);
		.icon {
			fill: $error;
		}
	}
	&.warning {
		@include bordermixin($warning, $warning-bg);
		.icon {
			fill: $warning;
		}
	}

	&.shadow {
		box-shadow: 0.125rem 0.5rem 1rem rgba(60, 60, 60, 0.12);
	}
}
