:root {
	&[data-theme='dark'] {
	}

	&[data-theme='light'] {
	}
	// Monochromatic
	--white: #ffffff;
	--black: #000000;

	--dark-grey: #333333;
	--dark-grey-o-85: rgba(51, 51, 51, 0.85);
	--grey: #737373;
	--grey1: #888888;
	--grey2: #a6a6a6;
	--grey3: #bbbbbb;
	--grey4: #c4c4c4;
	--grey5: #dddddd;
	--grey6: #e8e8e8;
	--grey7: #eeeeee;
	--grey8: #f2f2f2;
	--grey9: #eff0f0;
	--grey10: #f7f7f7;

	//Base colors
	--highlight: #0f62fe;
	--dark-blue: #001833;
	--background: #d0e2ff;

	--banyan-blue: #00037c;
	--banyan-orange: #ff892a;
	--banyan-pink: #ff1597;
	--banyan-gradient: linear-gradient(
		84.71deg,
		var(--banyan-pink) 0.48%,
		var(--banyan-orange) 99.57%
	);

	// Alert colors
	// --error: #da1e28;
	--error: #ff626a;
	--error-bg: #fff1f1;
	--error-outline: rgba(218, 30, 40, 0.08);
	--success: #24a148;
	--success-bg: #defbe6;
	--success-outline: rgba(36, 161, 72, 0.08);
	--warning: #f1c21b;
	--warning-bg: #fff8e1;
	--warning-outline: rgba(203, 160, 6, 0.08);
	--info: #0043ce;
	--info-bg: #edf5ff;
	--info-outline: #2864db98;
}

:export {
	white: --white;
	black: --black;

	dark-grey: --dark-grey;
	dark-grey-o-85: --dark-grey-o-85;
	grey: --grey;
	grey1: --grey1;
	grey2: --grey2;
	grey3: --grey3;
	grey4: --grey4;
	grey5: --grey5;
	grey6: --grey6;
	grey7: --grey7;
	grey8: --grey8;
	grey9: --grey9;
	grey10: --grey10;
	//  Base colors
	highlight: --highlight;
	dark-blue: --dark-blue;
	background: --background;

	banyan-blue: --banyan-blue;
	banyan-orange: --banyan-orange;
	banyan-pink: --banyan-pink;
	banyan-gradient: --banyan-gradient;

	// Alert colors
	error: --error;
	error-bg: --error-bg;
	error-outline: --error-outline;
	success: --success;
	success-bg: --success-bg;
	success-outline: --success-outline;
	warning: --warning;
	warning-bg: --warning-bg;
	warning-outline: --warning-outline;
	info: --info;
	info-bg: --info-bg;
	info-outline: --info-outline;
}
