// Monochromatic
$white: var(--white);
$black: var(--black);

$dark-grey: var(--dark-grey);
$dark-grey-o-85: var(--dark-grey-o-85);
$grey: var(--grey);
$grey1: var(--grey1);
$grey2: var(--grey2);
$grey3: var(--grey3);
$grey4: var(--grey4);
$grey5: var(--grey5);
$grey6: var(--grey6);
$grey7: var(--grey7);
$grey8: var(--grey8);
$grey9: var(--grey9);
$grey10: var(--grey10);
$skeleton: var(--skeleton);

//Base colors
$highlight: var(--highlight);
$dark-blue: var(--dark-blue);
$background: var(--background);
$menu-black: var(--menu-black);

$banyan-blue: var(--banyan-blue);
$banyan-orange: var(--banyan-orange);
$banyan-pink: var(--banyan-pink);
$banyan-gradient: var(--banyan-gradient);

// Alert colors
$error: var(--error);
$error-bg: var(--error-bg);
$error-outline: var(--error-outline);
$success: var(--success);
$success-bg: var(--success-bg);
$success-outline: var(--success-outline);
$warning: var(--warning);
$warning-bg: var(--warning-bg);
$warning-outline: var(--warning-outline);
$info: var(--info);
$info-bg: var(--info-bg);
$info-outline: var(--info-outline);
