// Monochromatic
$white: var(--white);
$black: var(--black);

$dark-grey: var(--dark-grey);
$dark-grey-o-85: var(--dark-grey-o-85);
$grey: var(--grey);
$grey1: var(--grey1);
$grey2: var(--grey2);
$grey3: var(--grey3);
$grey4: var(--grey4);
$grey5: var(--grey5);
$grey6: var(--grey6);
$grey7: var(--grey7);
$grey8: var(--grey8);
$grey9: var(--grey9);
$grey10: var(--grey10);
$skeleton: var(--skeleton);

$mono-color1: var(--mono-color1);
$mono-color2: var(--mono-color2);
$mono-color3: var(--mono-color3);

$light-color1: var(--light-color1);
$light-color2: var(--light-color2);
$light-color3: var(--light-color3);

$side-bar-icon1: var(--side-bar-icon1);
$side-bar-icon2: var(--side-bar-icon2);

//Base colors
$highlight: var(--highlight);
$dark-blue: var(--dark-blue);
$background: var(--background);
$menu-black: var(--menu-black);

$banyan-blue: var(--banyan-blue);
$banyan-orange: var(--banyan-orange);
$banyan-pink: var(--banyan-pink);
$banyan-gradient: var(--banyan-gradient);

$primary-color1: var(--primary-color1);
$primary-color2: var(--primary-color2);
$primary-color3: var(--primary-color3);
$primary-color4: var(--primary-color4);

$secondary-color1: var(--secondary-color1);
$secondary-color2: var(--secondary-color2);
$secondary-color3: var(--secondary-color3);
$secondary-color4: var(--secondary-color4);
$secondary-color5: var(--secondary-color5);
$secondary-color6: var(--secondary-color6);
$secondary-color7: var(--secondary-color7);

$background-color1: var(--backgroud-color1);
$background-color2: var(--backgroud-color2);
$background-color3: var(--backgroud-color3);
$background-color4: var(--backgroud-color4);
$background-color5: var(--backgroud-color5);

$text-color: var(--text-color);

// Alert colors
$error: var(--error);
$error-bg: var(--error-bg);
$error-outline: var(--error-outline);
$success: var(--success);
$success-bg: var(--success-bg);
$success-outline: var(--success-outline);
$warning: var(--warning);
$warning-bg: var(--warning-bg);
$warning-outline: var(--warning-outline);
$info: var(--info);
$info-bg: var(--info-bg);
$info-outline: var(--info-outline);
