@mixin flex($flex-direction: row, $justify-content: center, $align-items: center) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin grid($columns: auto, $rows: auto) {
	display: grid;
	grid-template-rows: $rows;
	grid-template-columns: $columns;
}

@mixin bordermixin($border-color, $background-color) {
	border-style: solid;
	border-color: $border-color;
	background-color: $background-color;
}

@mixin debug($color: red) {
	border: 1px solid $color;
}

@mixin outline {
	&:focus {
		outline: 1px solid $highlight;
	}
}

@mixin ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

@mixin removeArrows {
	-moz-appearance: textfield;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@mixin removeScrollbar() {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@function derive-rgb-values-from-hex($hex) {
	@return red($hex), green($hex), blue($hex);
}

@mixin boxShadow($theme: light) {
	@if $theme == dark {
		box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
	}

	@if $theme == light {
		box-shadow: 0px 8px 20px rgba(24, 24, 24, 0.08);
	}
}
