@import '../../../styles';

.root {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 1rem;
	cursor: pointer;
	background-color: $grey5;
	padding: 0.5rem;

	.main {
		margin-right: 1rem;
		transition: transform 0.3s;
	}

	.open {
		transform: rotate(90deg);
	}

	.close {
		transform: rotate(0deg);
	}
}
