@import '../../styles/index';

.root {
	@include flex(column, flex-start, stretch);
	width: 100%;

	& > .header[data-elem='base-cell'] {
		@include flex(row, flex-start);
		gap: 0.5rem;
		padding: 0.5rem 1rem;
		cursor: pointer;
		border: none;
		& > [data-elem='component1'] {
			svg {
				transition: all 0.3s ease-in-out;
			}
		}

		& > [data-elem='component1'],
		& > [data-elem='component3'] {
			@include flex;
			svg {
				transform: rotate(90deg);
				width: 1.5rem;
				height: 1.5rem;
				fill: $text-color;
			}
		}

		& > [data-elem='component3'] {
			margin-left: auto;
		}

		.title {
			flex: 1 1 auto;
			user-select: none;
			color: $text-color;
		}

		&:hover {
			.title {
				color: $secondary-color1;
			}
			svg {
				fill: $secondary-color1;
			}

			background: $background-color4;
		}
	}

	& > .body {
		padding: 0.5rem 2.5rem;
	}

	&.open {
		& > .header[data-elem='base-cell'] {
			[data-elem='component1'] {
				svg {
					transform: none;
				}
			}
		}

		& > .body {
			@include flex(column, flex-start, stretch);
			> button[data-elem='base-cell'] {
				width: fit-content;
				align-self: flex-end;
				@include flex(row, flex-end);
				.expand {
					height: 1.5rem;
					width: 1.5rem;
				}
			}
		}
	}
}
